@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/league-gothic.eot');
    src: url('../fonts/league-gothic.eot?#iefix') format('embedded-opentype'), url('../fonts/league-gothic.woff') format('woff'), url('../fonts/league-gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MrsEaves';
    src: url('../fonts/mr-eaves-sans-r.eot');
    src: url('../fonts/mr-eaves-sans-r.eot?#iefix') format('embedded-opentype'), url('../fonts/mr-eaves-sans-r.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.admin-color-midnight #wpwrap {
    background: url(../../admin/img/bg.png) #f5f5f5;
}
.admin-color-midnight #wp-admin-bar-user-info .avatar {
    border-radius: 100px;
    border: 3px solid #eee;
}
.admin-color-midnight #wpadminbar,
#wpadminbar * {
    line-height: 36px;
}
.acf-field[data-name="banner"] .view {
    width: 100% !important;
    max-width: 100% !important;
    height: 400px;
}
.acf-field[data-name="banner"] .view img {
    height: 100%;
    object-fit: cover;
    object-position: 50%;
}

/*
#aioseop_snippet > h3 {
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

#aiosp div.preview_snippet {
    padding: 10px;
}

.aioseop_input p {
    display: none;
}

.aioseop_option_label {
    height: auto !important;
    margin-bottom: 10px;
}

#aiosp .inside {
    display: table;
}

.aioseop_label {
    padding-left: 15px;
}
*/

.admin-color-midnight #adminmenu,
.admin-color-midnight #adminmenuback,
.admin-color-midnight #adminmenuwrap,
.admin-color-midnight #wpadminbar {
    background: url(../../admin/img/work-bg.png) #383935;
}
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
    line-height: 15px;
}
#adminmenu li .awaiting-mod span,
#adminmenu li span.update-plugins span {
    line-height: 14px;
}
#login {
    position: relative;
    z-index: 1;
}
.login h1 a {
    background: none !important;
    margin-bottom: 10px;
    background-size: auto 100% !important;
    width: 100%;
}
#wpfooter {
    width: 300px;
    background-image: url(../../admin/img/FIWI-classic-website.svg);
    background-size: 300px auto;
    background-position: 50%;
    background-repeat: no-repeat;
}
#wpfooter p,
#wpfooter a {
    color: rgba(0, 0, 0, 0);
}
.wp-admin #wpadminbar #wp-admin-bar-site-name>.ab-item:before {
    color: rgba(0, 0, 0, 0) !important;
    background: url(../../admin/img/admin-logo.png) !important;
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
}
.acf-field .acf-label label {
    line-height: 2 !important;
}
p,
li,
#wpadminbar * {
    font-family: 'Open Sans', 'Avenir Next', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    letter-spacing: -.025em;
}
#adminmenu,
#adminmenuback,
#adminmenuwrap,
#wpadminbar {
    background: $dark-teal;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: $serif;
    font-weight: normal;
}
.login:not(.fiwi-redirected-user) {
    background-image: url(/wp-content/uploads/hero.jpg) !important;
    background-size: cover!important;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
    }
    #login {
        margin-left: 250px;
    }
}

/*
div#aioseop_snippet > h3 {
    line-height: 1.5;
    padding: 0 !important;
    margin: 0;
}

#aiosp div.preview_snippet {
    padding: 10px 15px !important;
    border-radius: 3px;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.aioseop_input p {
    display: none;
}

.aioseop_input .aioseop_option_label {
    height: auto !important;
    margin-bottom: 10px;
}

#aiosp .inside {
    display: table;
    width: 100%;
}

.aioseop_label {
    padding-left: 15px;
}

#aio-pro-update {
    display: none;
}

div#aiosp_upgrade_wrapper {
    display: none;
}

.aioseop_option_div {
    overflow: visible;
}

#aiosp_snippet_wrapper .aioseop_input.aioseop_top_label > span {
    float: none;
    display: inline-block;
}

#aiosp_snippet_wrapper .aioseop_input {
    display: inline-block;
    min-width: 150px;
    width: 37%;
    max-width: 269px;
    padding: 0;
    vertical-align: top;
}

#aiosp_snippet_wrapper .aioseop_input.aioseop_top_label {
    display: inline-block;
    margin: 0;
    padding: 0;
}
*/

#wp-resource-link {
    span.item-info {
        display: none;
    }
    li.alternate {
        padding: 1rem;
        margin-bottom: 0;
        cursor: pointer;
        transition: .3s ease;
        &:nth-child(odd) {
            background: #eee;
        }
        &.selected {
            background: #607D8B;
            color: white;
            font-weight: bold;
        }
        &:hover {
            background: #607D8B;
            color: white;
            font-weight: bold;
        }
    }
    #resource-most-recent-results {
        border: 5px solid #eee;
        margin-bottom: 20px;
    }
    .submitbox {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 1rem;
        width: 92%;
        left: 0;
        background: white;
    }
    ul {
        margin: 0;
    }
}
input#link-text {
    display: block;
    margin: 1rem 0 0;
    border: 4px solid #eee;
    width: 300px;
    padding: .5rem 1rem;
    line-height: 1;
}
i.mce-ico.mce-i-resource-link {
    font-family: dashicons, "Open sans";
    width: auto;
    &:before {
        content: "\f103";
    }
    &:after {
        content: "Resource Link";
        font-size: 12px;
        top: -3px;
        position: relative;
        margin-left: 5px;
        text-transform: uppercase;
    }
}
i.mce-ico.mce-i-insert-video {
    font-family: dashicons, "Open sans";
    width: auto;
    &:before {
        content: "\f236";
    }
    &:after {
        content: "Add Video";
        font-size: 12px;
        top: -3px;
        position: relative;
        margin-left: 5px;
        text-transform: uppercase;
    }
}
i.mce-ico.mce-i-insert-columns {
    font-family: dashicons, "Open sans";
    width: auto;
    &:before {
      content: "\f236";
    }
    &:after {
      content: "Insert Columns";
      font-size: 12px;
      top: -3px;
      position: relative;
      margin-left: 5px;
      text-transform: uppercase;
    }
  }
i.mce-ico.mce-i-insert-green-hr {
    font-family: dashicons, "Open sans";
    width: auto;
    &:before {
      content: "\f460";
    }
    &:after {
      content: "Insert Green Hr";
      font-size: 12px;
      top: -3px;
      position: relative;
      margin-left: 5px;
      text-transform: uppercase;
    }
  }
i.mce-ico.mce-i-insert-columns {
    font-family: dashicons, "Open sans";
    width: auto;
    &:before {
      content: "\f13c";
    }
    &:after {
      content: "Insert Columns";
      font-size: 12px;
      top: -3px;
      position: relative;
      margin-left: 5px;
      text-transform: uppercase;
    }
  }
#TB_ajaxContent {
    margin: 0 auto;
    border: none;
}
#TB_ajaxContent .acf-oembed {
    border: none;
}
#caption,
#video-url {
    width: 100%;
    margin: 0 0 .5rem;
    border: 3px solid #eee;
    padding: .5rem;
}

#caption {
    margin-top: 0;
}

.acf-field.acf-field-oembed {

    width: 100%;
}
@media screen and (max-width: 782px) {
    #login {
        margin-left: auto;
    }
}
