// Making an Oldfashioned
// findsomewinmore
// Licensed under MIT Open Source
// Make sure the charset is set appropriately
@charset 'UTF-8';
#tinymce {
    @import  '../../node_modules/bootstrap/scss/normalize',
    '../../node_modules/bootstrap/scss/bootstrap-reboot',
    '../../node_modules/bootstrap/scss/bootstrap-grid',
    '../../node_modules/bootstrap/scss/type',
    '../../node_modules/bootstrap/scss/utilities';
    @import '../../src/scss/base/variables',
    '../../src/scss/base/fonts',
    '../../src/scss/base/typography',
    '../../src/scss/base/buttons';
    .post-body figure {
        margin: 1rem;
        img {
            box-shadow: $shadow-1;
            display: block;
            margin: 0 auto;
        }
        &.alignright {
            margin: 1rem 1rem 0 1rem;
        }
        &.alignleft {
            margin: 1rem 2rem 0 1rem;
        }
        &.aligncenter {
            width: 100% !important;
            margin: 0 auto !important;
            display: block !important;
        }
    }
    .post-body img {
        margin: 1rem;
        box-shadow: $shadow-1;
        &.alignright {
            margin: 1rem 1rem 0 1rem;
        }
        &.alignleft {
            margin: 1rem 2rem 0 1rem;
        }
    }
    .wp-caption {
        /* padding: 1rem; */
        display: block;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        width: 50%;
        &.alignright {
            margin: 1rem 1rem 0 1rem;
        }
        &.alignleft {
            margin: 1rem 2rem 0 1rem;
        }
        img {
            margin: 0 auto .5rem;
            width: 100%;
            height: auto;
        }
        p {
            margin-bottom: 0;
            font-style: italic;
        }
    }
    figcaption.wp-caption-text {
        padding: 1rem;
        font-style: italic;
        text-align: center;
    }

    img.no-download {

    opacity: .5;
    box-shadow: 0px 0px 11px red;

    }
    .post-body {
        blockquote {
            font-size: 1.5rem !important;
            p {
                font-size: 1.5rem !important;
                &[style="text-align: left;"] {
                    margin: 1rem 1rem 0 -25%;
                    width: 50%;
                    float: left;
                    // (768px)
                    @include media-breakpoint-down(sm) {
                        margin: 1rem;
                        width: 100%;
                        float: none;
                    }
                }
                &[style="text-align: right;"] {
                    margin: 1rem -25% 0 1rem;
                    width: 50%;
                    float: right;
                    // (768px)
                    @include media-breakpoint-down(sm) {
                        margin: 1rem;
                        width: 100%;
                        float: none;
                    }
                }
            }
        }
    }
}
@import '../../src/scss/base/variables';
@import 'base';
