.development img:not([alt]),
.development img[alt=''] {
  position: relative;
  border: solid 5px;
  -webkit-animation: pulse 1s linear infinite;
  -moz-animation: pulse 1s linear infinite;
  -ms-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}
@keyframes "pulse" {
  0% {
    border-color: rgba(165, 25, 25, 1);
  }
  90% {
    border-color: rgba(255, 0, 0, 0.0);
  }
  100% {
    border-color: rgba(255, 0, 0, 1.0);
  }
}
@-webkit-keyframes "pulse" {
  0% {
    border-color: rgba(165, 25, 25, 1);
  }
  90% {
    border-color: rgba(255, 0, 0, 0.0);
  }
  100% {
    border-color: rgba(255, 0, 0, 1.0);
  }
}
#wpadminbar * {
  font-family: 'Open Sans', 'Avenir Next', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  letter-spacing: -.025em;
}
#wpadminbar {
  background: #306470;
}
.slick-slider {
  overflow: hidden;
}
#outdated {
  height: auto;
  padding: 2rem;
  z-index: 10000000;
  * {
    color: white;
    text-align: center;
  }
  img {
    width: 80px;
    height: 81px;
    margin: 1rem auto;
  }
  p {
    margin-bottom: .5rem;
  }
  a {
    line-height: 1.25;
    border-radius: 100px;
    margin: 1rem auto;
    font-size: 1rem;
  }
  div {
    display: none;
    margin: 0 auto;
  }
  .thanks {
    display: block !important;
  }
  .thanks p span {
    display: block;
    margin-top: .25rem;
  }
  .thanks img {
    width: 50px;
    height: auto;
  }
  .thanks {
    width: 150px;
    margin: 0 auto;
    text-align: center;
  }
}
.ie {
  #outdated {
    background: #00caff;
  }
  #ie {
    display: block;
  }
}
.firefox {
  #outdated {
    background: #f19a2a;
  }
  #firefox {
    display: block;
  }
}
.safari {
  #outdated {
    background: #00a0e6;
  }
  #safari {
    display: block;
  }
}
.chrome {
  #outdated {
    background: #f2b635;
  }
  #chrome {
    display: block;
  }
}
.gform_wrapper form li,
.gform_wrapper li {
  display: block;
}
.history-mission {
  overflow: hidden;
}
.ie {
  .slick-dots li:after {
    margin-left: 6.5px;
  }
}
.ie10 {
  .modal {
    display: none;
    &.show {
      display: block;
    }
    .container {
      margin: 15% auto;
    }
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .about-main {
    background-size: cover;
    margin-top: 0 !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  ul#menu-primary-menu-1 ul {
    display: block;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .mission-cta-block h3 {
    font-size: 1.5rem
  }
}
.gform_wrapper ul li:after,
.gform_wrapper ul li:before,
.gform_wrapper ul.gform_fields {
  content: none !important;
}
// (768px)
@include media-breakpoint-down(md) {
  .safari7.mac.network-window,
  .safari8.mac.network-window {
    font-size: 12px;
    .row {
      display: -webkit-flex;
    }
    .values-img:nth-child(2) img {
      margin-top: 5rem;
    }
    .mission-text {
      margin: 0;
    }
    .mission-img {
      display: block;
    }
    .values-section>div.image {
      min-height: 50px;
    }
  }
}
//}
//.fiwi-debugger {
//  position: fixed;
//  //  background: rgba(0,0,0,.5);
//  background: white;
//  right: 15px;
//  bottom: 15px;
//  z-index: 100000;
//  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//  transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
//  width: 300px;
//  transform: translate3d(0, -15px, 0);
//  padding: 0 1rem;
//  .form-container {
//    height: 0;
//    overflow: hidden;
//  }
//  &.active {
//    transform: translate3d(0, 0, 0);
//    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
//    padding: 1rem;
//    &:hover {
//      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
//    }
//    .form-container {
//      height: auto;
//    }
//    .info-toggle {
//      opacity: 1;
//    }
//  }
//  p {
//    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//    margin: 0;
//    font-size: 12px;
//    font-weight: bold;
//  }
//  .info-toggle {
//    background: #eb3a24;
//    color: white;
//    display: block;
//    width: 36px;
//    text-align: center;
//    padding: 4px 0;
//    border-radius: 100%;
//    position: absolute;
//    top: -15px;
//    right: -10px;
//    border: 2px solid white;
//    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
//    font-size: 1rem;
//    opacity: .75;
//    transition: opacity .5s ease;
//    &:hover {
//      opacity: 1;
//    }
//  }
//  input {
//    border: none;
//    padding: 0rem .25rem;
//    margin-bottom: 1rem;
//    width: 100%;
//    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//    font-size: 10px;
//    line-height: 1.25;
//    outline: none;
//  }
//  a {
//    display: block;
//    background: #eee;
//    padding: .5rem 1rem;
//    color: #eb3a24;
//    max-width: 200px;
//    text-align: center;
//    font-size: 12px;
//    font-weight: bold;
//    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
//    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
//    &:hover {
//      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
//      background: #eb3a24;
//      color: white;
//    }
//    &.disabled {
//      pointer-events: none;
//      filter: grayscale(1);
//      opacity: .5;
//      box-shadow: none;
//    }
//  }
//}


//.debug-info {
//  position: fixed;
//  background: rgba(0,0,0,.5);
//  color: white;
//  padding: .5rem 1rem;
//  right: 0;
//  top: 0;
//  width: 300px;
//  z-index: 10000;
//  line-height: 1;
//  font-size: 10px;
//  border: none;
//  outline: none;
//}
//}
