.btn,
.media-cat .cat-item a {
    outline: none;
    text-align: center;
    border: none;
    padding: 1rem 2rem;
    display: inline-block;

    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 0;
    font-weight: 700;
    font-family: 'Open Sans';
    box-shadow: $shadow-2;
    outline: none;
    color: white;
    transition: .3s ease;
    position: relative;
    z-index: 1;
    text-decoration: none !important;

    &:before {


        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        background: linear-gradient(90deg, $teal 15%, $dark-teal 94%);
        transition: .3s ease;
text-decoration: none;
    }

    &:hover {

        background: none;
        color: $teal;
        box-shadow: $shadow-1;

        &:before {

            opacity: 0;
        }
    }


    &.news-btn {

        background: linear-gradient(90deg, $teal 15%, $dark-teal 94%);


        &:before {


            background: white;



        }

        &:hover {

            color: white;


        }
    }
}


.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
    outline: none;
    text-align: center;
    border: none;
    padding: 1rem 2rem;
    display: inline-block;
        background: linear-gradient(90deg, $teal 15%, $dark-teal 94%);

    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 0;
    font-weight: 700;
    font-family: 'Open Sans';
    box-shadow: $shadow-2;
    outline: none;
    color: white;
    transition: .3s ease;
    position: relative;
    z-index: 1;
    text-decoration: none !important;

    &:hover {

        background: linear-gradient(90deg, white 15%, white 94%);
        color: $teal;
        box-shadow: $shadow-1;
    }

}
