    /*
    Flaticon icon font: Flaticon
    Creation date: 19/07/2017 19:48
    */

    @font-face {
  font-family: "flun-icon";
  src: url("../../dist/css/fonts/flunicon.eot");
  src: url("../../dist/css/fonts/flunicon.eot?#iefix") format("embedded-opentype"),
       url("../../dist/css/fonts/flunicon.woff") format("woff"),
       url("../../dist/css/fonts/flunicon.ttf") format("truetype"),
       url("../../dist/css/fonts/flunicon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "flun-icon";
    src: url("../../dist/fonts/flunicon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "flun-icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-user:before { content: "\f100"; }
.flaticon-search:before { content: "\f101"; }
.flaticon-show-more-button:before { content: "\f102"; }

    $font-Flaticon-user: "\f100";
    $font-Flaticon-search: "\f101";
    $font-Flaticon-show-more-button: "\f102";
