@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,400i,700,700i');
// body, p {
// 	font-family: 'Open Sans';
// }
html {
  font-size: 16px;
}
p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
  font-family: $serif;
  &.serif {
    font-family: $serif;
    font-weight: normal;
  }
  b,
  strong {
    font-weight: bold !important;
    color: $dark-teal;
  }
}
li {
  font-size: 1rem;
  color: #8e8e8e;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
  font-family: 'Open Sans';
  position: relative;
  color: $teal;
  &.line {
    font-weight: 300;
    padding: 1rem 0;
    border-bottom: 1px solid #76be6c;
    color: $teal;
    margin-bottom: 2rem;
  }
  &.back-dash:before {
    content: '';
    width: 50px;
    height: 2px;
    position: absolute;
    left: -60px;
    top: 50%;
    display: block;
    background: #99cc8e;
  }
  &.serif {
    font-family: $serif;
    font-weight: normal;
    color: dimgrey;
  }
}
.post-body {
  h1,
  h2,
  h3,
  h4,
  h5 {
    //        margin-top: 3rem;
    margin-bottom: 1em;
    &:first-of-type {
      //                margin-top: 0;
    }
  }
}
a {
  color: $teal;
  text-decoration: none;
  transition: .3s ease;
  .search-list & {
    font-weight: 700;
  }
  &:hover,
  &:active,
  &:focus {
    color: $dark-teal;
    text-decoration: none;
  }
}
.post-body {
  blockquote {
    font-size: 1.5rem !important;
    p {
      font-size: 1.5rem !important;
      &[style="text-align: left;"] {
        margin: 1rem 1rem 0 -25%;
        width: 50%;
        float: left;
        // (768px)
        @include media-breakpoint-down(sm) {
          margin: 1rem;
          width: 100%;
          float: none;
        }
      }
      &[style="text-align: right;"] {
        margin: 1rem -25% 0 1rem;
        width: 50%;
        float: right;
        // (768px)
        @include media-breakpoint-down(sm) {
          margin: 1rem;
          width: 100%;
          float: none;
        }
      }
    }
  }
}
.post-body,
.search-list,
.mission-text,
.mission-text-2 {
  ul li {
    list-style-type: none;
    text-indent: 0;
    display: table-row;
  }
  ul,
  ol {
    padding: 0 2rem 0;
    margin: 0 0 2rem;
  }
  ul li:before {
    content: '-';
    //    width: 5px;
    //    height: 2px;
    //     left: -60px;
    //    top: 50%;
    //    top: -.25rem;
    position: relative;
    padding-right: .5rem;
    display: table-cell;
    color: $green;
    font-weight: bold;
    font-size: 32px;
    top: 3px;
  }
}
.post-body {
  p {
    &.mb0 {
      margin-bottom: 1rem !important;
    }
    margin-bottom: 1rem;
    .btn {
      margin: 1rem 0 10px;
    }
    &.has-button {
      //                margin-bottom: 1rem;
      .btn {
        margin: 0 0 0;
      }
    }
    &.has-button+p:not(.has-button) {
      margin-top: 2rem;
    }
  }
}
.media-cat {
  li {
    list-style-type: none;
    text-indent: 0;
    display: block;
    margin-bottom: 1rem;
  }
  padding: 1rem;
  // li:before {
  //     content: '-';
  //     //    width: 5px;
  //     //    height: 2px;
  //     //     left: -60px;
  //     //    top: 50%;
  //     //    top: -.25rem;
  //     position: relative;
  //     padding-right: .5rem;
  //     display: table-cell;
  //     color: $green;
  // }
}
p.disclaimer {
  font-size: 12px;
  padding: 1rem;
}
span[style="font-family: verdana; font-size: x-large;"] {
  font-size: 3rem !important;
  font-family: 'Open Sans' !important;
  font-weight: 900;
  font-style: normal !important;
  margin-bottom: 2rem;
  color: $teal;
  line-height: 1;
}
span[style="font-family: verdana; font-size: x-large;"] em {
  font-style: normal !important;
  color: $teal;
}
//// @media (max-width: 1439px)
//@include media-breakpoint-down(lg) {
//
//
//    h1 {
//
//        font-size: 4rem;
//    }
//}
.search-list ul li.title:before {
  color: rgba(0, 0, 0, 0);
  display: none;
}
.search-list ul li.title {
  font-weight: bold;
  position: relative;
  color: dimgrey;
  font-size: 1.5rem;
  font-family: $serif;
  display: block;
  margin: 1.5rem 0 0;
}
#forms-and-resources {
  li a {
    &:before {
      content: "\f1c1";
      font-family: fontawesome;
      margin-right: .25rem;
    }
  }
}
.search-list .gform_confirmation_wrapper ul li a {
  font-family: "Gentium Basic";
}
.foo-table {
  thead {
    background: linear-gradient(135deg, #4591a2 15%, #124F5D 94%);
    color: white;

    th {
      font-weight: 800;
      font-family: 'Open Sans';
      color: white;
      text-transform: uppercase;

    }
  }

  tbody {

    tr:nth-child(even) {

      background: #eee;
    }

  }
}
