.banner-about {
    position: relative;
}
.about-banner {
    width: 100vw;
}
.about-banner-text {
    color: #fff;
    font-weight: 800;
}
.about-banner-text h1 {
    font-weight: 700;
}
.about-nav {
    //    margin-top: 75px;
    color: $teal;
    font-size: 16px;
    ul {
        padding: .5rem 0 0;
        a {
            font-weight: bold !important;
            font-size: 1.5rem !important;
            pointer-events: none;
            color: grey;
        }
        .sub-menu {
            padding: .15rem 0;
            a {
                font-weight: bold !important;
                font-size: 1rem !important;
                pointer-events: all;
                font-family: $serif;
                color: $teal;
            }
            .sub-menu {
                padding: .15rem 1rem;
            }
        }
    }
    h5 {
        margin-bottom: 0;
        font-size: 1rem;
        color: #8e8e8e;
        font-family: 'Open Sans';
        font-weight: 700;
    }
    .resource-list {
        li {
            a {
                color: $teal;
                text-decoration: none;
                font-weight: 700;
                font-family: $serif;
                font-size: 1rem !important;
                pointer-events: all;

            }
        }
    }

  .resource-links {
    a {
        color: $teal;
        text-decoration: none;
        font-weight: 700;
        font-family: $serif;
        font-size: 1rem !important;
        pointer-events: all;
        display: block;
              &:before {

                content: '';
                font-family: fontawesome;
                margin-right: .5rem;
              }

              &[target="blank"], &[target="_blank"] {


              &:before {

                content: '\f14c';
                font-family: fontawesome;
                margin-right: .5rem;

              }
              }
    }

    ul {



        li {
            a {
                color: $teal;
                text-decoration: none;
                font-weight: 700;
                font-family: $serif;
                font-size: 1rem !important;
                pointer-events: all;

              &:before {

                content: '';
                font-family: fontawesome;
                margin-right: .5rem;
              }

              &[target="blank"], &[target="_blank"] {


              &:before {

                content: '\f14c';
                font-family: fontawesome;
                margin-right: .5rem;

              }
              }

            }
        }


    }

  }


  .resource-list+.resource-links {
    margin-top: -.5rem;

    ul {


      padding: 0;
      margin: 0;
    }

}
}
.about-nav a {
    color: $teal;
    text-decoration: none;
    font-weight: 700;
}
.about-nav li {
    margin-top: .5rem;
}
.about-quote {
    font-family: 'Gentium Basic';
    span {
        display: block;
        margin-top: 1rem;
    }
}
.about-blockquote {
    //    margin-top: 100px;
    //    margin-bottom: 2rem;
    font-style: italic;
    line-height: 1.25;
    font-weight: normal;
    color: $dark-teal;
    font-family: $serif;
}
.about-main {
    padding: 10rem 0 0;
    background: url(../../dist/img/flun-38.jpg);
    background-size: 100% auto;
    background-position: 50% -100%;
    background-repeat: no-repeat;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.42) 0%, #faf8f7 25vw, #fff 100%);
        z-index: 0;
        bottom: 0;
    }
    // (768px)
    @include media-breakpoint-down(sm) {
        //        padding-top: 5rem;
        //        margin-top: 0 !important;
        background-position: 50% 0;
        background-size: cover;
    }
}
.mission-row {
    margin-top: 40px;


    // (768px)
    @include media-breakpoint-down(md) {


        .col-lg-4 {

            margin-top: 2rem;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: $shadow-1;
        pointer-events: none;
        // (768px)
        @include media-breakpoint-down(sm) {
            margin: 1rem 0 0;
        }
    }
    p {
        .iframe-wrapper {
            width: 100%;
            padding-bottom: 56.5%;
        }
    }
    // (768px)
    @include media-breakpoint-down(sm) {
        margin-top: 1rem;
        h2 {
            margin: 0 1rem 1rem;
        }
    }
}
h2.mission-title,
h2.values-header {
    font-weight: 800;
    color: $teal;
}
.mission-text {
    font-family: 'Gentium Basic';
    margin-left: 45px;
    // (768px)
    @include media-breakpoint-down(sm) {
        margin-right: 0;
        margin-left: 0;
        padding: 0 15px;
    }
}
.mission-text-2 {
    font-family: 'Gentium Basic';
}
//.mission-text li,
//.mission-text-2 li {
//    list-style-type: none;
//    text-indent: 0;
//    display: table-row;
//}
//.mission-text ul {
//    padding: 0;
//    margin-left: 10px;
//}
//.mission-text ul > li:before,
//.mission-text-2 ul > li:before {
//    content: '-';
//    //    width: 5px;
//    //    height: 2px;
//    //     left: -60px;
//    //    top: 50%;
//    //    top: -.25rem;
//    position: relative;
//    padding-right: .5rem;
//    display: table-cell;
//    color: $green;
//}
h2.mission-title::before {
    content: "— ";
    color: $green;
    text-indent: -5px;
}
.mission-img {
    width: 100%;
    //    padding-top: 20px;
    //    margin-left: 40px;
}
.values-about {
    margin-top: 50px;
    padding-bottom: 50px;
    background-color: #ECF4F5;
    // (768px)
    @include media-breakpoint-down(sm) {
        h2 {
            margin: 0 1rem 1rem;
        }
    }
}
h2.values-header::before {
    content: "— ";
    color: $green;
    text-indent: -5px;
}
.values-header {
    margin: 20px 0;
}
.values-section {
    > div {
        background: #fff;
        padding: 1rem;
        box-shadow: $shadow-1;
        //        height: 100%;
        width: 100%;

    @include media-breakpoint-down(md) {
        &.image {

                    min-height: 66vw;


        }

    }
    }
    padding: 0 7.5px 5px;
    //    margin-right:20px;
    //    width:315px;
    //    margin-top:20px;
    overflow:hidden;
    margin-bottom: 1rem;
    display: flex;


    // (768px)


}
.values-title {
    //    padding-top: 5%;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: $teal;
    padding-bottom: 10px;
    border-bottom: 2px solid $teal;
}
.values-about-text {
    font-family: 'Gentium Basic';
}
.values-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.col-md-2.values-flex.values-section {
    padding: 0;
    background: transparent;
}
button.about-news-btn {
    background: white;
    border: none;
    box-shadow: 2px 1px 2px #888888;
}
a.news-btn.btn {
    color: $teal;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 700;
}
.cta.about-cta {
    margin-top: 0;
}
// (768px)
@include media-breakpoint-down(md) {
    .history-mission-image {
        position: relative
    }
    .leader-nav-section.mb-5 {
        margin-bottom: 0 !important;
    }
}
