.board-banner {
    position: relative;
    margin-bottom: 30px;
}
.board-individual {
    background: #eee;
    border: 5px solid #fff;
    box-shadow: $shadow-1;
    //    padding: 15px 7.5px;
    margin-bottom: 2rem;
    //    height: 400px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    &:hover .bio-wrapper {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.greyscale {


        filter: grayscale(1) brightness(1.25);
}
.bio-image {
    //    float:left;
    //    width:150px;
    //    margin-right:2rem;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 15%;


    //    min-height: 300px;
}
// .board-body{
// 	column-count:3;
// }
// .board-individual{
// 	margin-bottom:40px;
// }
.board-wrapper {
    width: 350px;
}
.board-title-container {
    //font-family: 'Gentium Basic';
    h4 {
        font-size: 1rem;
        margin-bottom: .25rem;
                font-weight: 700;
        color: white;
//        font-family: $serif;
//        text-shadow: 0px 0px 10px rgba(0,0,0,0.6);
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
    }
    h5 {
        font-size: .7rem;
        //        margin-bottom: 0;
        color: white;
        text-transform: uppercase;
        font-weight: 400;
//        text-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    }
    position: absolute;
    bottom: 0;
    padding: .5rem 1rem 0;
    background: rgba(73, 145, 161, 0.8);
    width: 85%;
    font-weight: 700;
    letter-spacing: -.015rem;
    line-height: 1.25;
    margin-bottom: .5rem;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.bio-blurb {
    font-family: 'Gentium Basic';
    p {
        font-size: 1rem;
    }
}
.bio-wrapper {
    padding: 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    background: $teal;
    left: 0;
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    transition: .5s ease;
    p {
        //        width: 75%;
        //        overflow: hidden;
        //    white-space: nowrap;
        //    text-overflow: ellipsis;
        color: white;
        font-weight: normal;
        line-height: 1.25;
        margin-bottom: .25rem;
        font-size: 14px;

        span, b, strong {
            color: white;
            font-weight: normal !important;
        }

//        &:first-of-type {
//
//            padding-bottom: .5rem;
//            border-bottom: 1px solid white;
//            display: block;
//            color: $dark-teal !important;
//            font-weight: bold !important;
//            font-size: 1rem;
//
//        span, b, strong {
//
//            font-weight: bold !important;
//        }
//
//        }
    }
}
.green-text {
    //    color: $green;
    padding: 1rem 0;
    font-weight: 900;
    display: block;
}
.board-title {
    font-size: 1rem;
    margin: 0 0 .5rem;
    font-weight: 700;
    color: white;
    @include media-breakpoint-down(sm) {
        text-align: center;
    }
}
.staff-banner {
    position: relative;
    margin-bottom: 30px;
}
.bio-box {
    .bio-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        // (768px)
        @include media-breakpoint-down(sm) {
            height: 100vw;
        }
    }
}
// @media (max-width: 1439px)
@include media-breakpoint-down(md) {
    .bio-image {
        height: 250px;
    }
    .bio-wrapper p {
        font-size: .8rem;
    }
}

// @media (max-width: 1439px)
@include media-breakpoint-down(sm) {
.board-title-container {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.38) 0%, transparent 100%);
}

.bio-image {
    height: 100vw;
}
}
