// a .flex-rw,
// a .flex-rw :hover {
//   text-decoration: none;
//   color:#fff;
// }
// .footer-menu-item{
//   color:#fff;
//   font-size:1.25em;
//   font-weight: bolder;
// }
footer {
    a {
        text-decoration: none;
        color: #fff;
    }
    a:hover {
        text-decoration: none;
        color: #fff;
    }
    ul {
        list-style: none;
    }
}
footer {
    background: #3A3939;
    //    margin-top: auto;
    //    width: 100vw;
    padding: 5rem 0;
    position: relative;
}
#footer-menu {
    column-count: 3;
    font-family: 'Open Sans';
    padding: 0;
    break-inside: avoid;
    li {
        margin: 0 0 1rem;
        a {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1rem;
        }
    }
}
footer .flex-rw {
    position: fixed;
    bottom: 0;
}
.footer-row li {
    margin-bottom: 10px;
}
.follow-title {
    color: #fff;
    align-items: center;
    font-weight: 700;
    font-size: 1em;
    font-family: 'Open Sans';
    padding: 0 !important;
    margin: 0;
}
a.social-icons {
    font-size: 1.5em;
    margin-right: 10px;
}
.footer-text {
    color: #fff;
    font-size: 1em;
    font-family: 'Gentium Basic';
    margin: 0;
    display: block;
}
a.footer-text:hover {
    color: $teal;
}
.footer-social-overlap {
    position: relative;
    z-index: 2;
    //    background: rgb(55, 55, 55);
    padding: 0;
    // (768px)
    @include media-breakpoint-down(sm) {
        margin: 1rem auto .5rem;
        display: block;
        text-align: center;
    }
}
.footer-row {
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Gentium Basic';
}
.footer-social-connect {
    display: flex;
    align-items: center;
    font: 2em;
    color: #fff;
}
.footer-social-small {
    font-size: 0.6em;
    padding: 0;
}
.footer-branding {
    width: 150px;
    margin-bottom: 1rem;
}
.footer-address {
    padding: 0;
}
.address p {
    font-size: .8rem;
    margin-bottom: 1rem;
}
@include media-breakpoint-down(lg) {
    #footer-menu {
        column-count: 2;
    }
    #footer-menu li a {
        font-size: .8rem;
    }
}
@include media-breakpoint-down(sm) {
    #footer-menu {
        column-count: 1;
    }
    #footer-menu li a,
    .follow-title {
        text-align: center;
        display: block;
    }
    .footer-branding {
        display: block;
        margin: 0 auto 3rem;
    }
    .address p {
        text-align: center;
        width: 65%;
        margin: 0 auto;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
}
@media only screen and (max-width: 768px) {
    .footer-list-header {
        font-size: 2em;
    }
    .footer-list-anchor {
        font-size: 1.1em;
    }
    .footer-social-connect {
        font-size: 2.5em;
    }
    .footer-social-overlap > a {
        font-size: 2.24em;
    }
    .footer-bottom-wrapper {
        font-size: 1.3em;
    }
}
@media only screen and (max-width: 568px) {
    main {
        font-size: 5em;
    }
    .footer-list-header {
        font-size: 3em;
    }
    .footer-list-anchor {
        font-size: 1.5em;
    }
    .footer-social-section {
        justify-content: center;
    }
    .footer-social-section::after {
        top: 25%;
    }
    .footer-social-connect {
        margin-bottom: 10px;
        padding: 0;
    }
    .footer-social-overlap {
        display: flex;
        justify-content: center;
    }
    .footer-social-icons-wrapper {
        width: 100%;
        padding: 0;
    }
    //    .footer-social-overlap > a:not(:first-child) {
    //        margin-left: 20px;
    //    }
    .footer-bottom-section {
        padding: 0 5px 10px 5px;
    }
    // .footer-bottom-wrapper {
    //   text-align: center;
    //   width: 100%;
    //   margin-top: 10px;
    // }
    .footer-text {
        text-align: center;
        margin-bottom: 1rem;
    }
    footer {}
}
@media only screen and (max-width: 480px) {
    //    .footer-social-overlap > a {
    //        margin: auto;
    //    }
    //    .footer-social-overlap > a:not(:first-child) {
    //        margin-left: 0;
    //    }
    .footer-bottom-rights {
        display: block;
    }
}
@media only screen and (max-width: 320px) {
    .footer-list-header {
        font-size: 2.2em;
    }
    .footer-list-anchor {
        font-size: 1.2em;
    }
    .footer-social-connect {
        font-size: 2.4em;
    }
    .footer-social-overlap > a {
        font-size: 2.24em;
    }
    .footer-bottom-wrapper {
        font-size: 1.3em;
    }
}
.address-text {
    margin-top: 80px;
}
.footer-disclaimer {
    margin-top: -100px;
    color: #fff;
    font-size: 1.25em;
}
