.hero_slides {
    opacity: .3;
}
.hero_slides {
    width: 100%;
    object-fit: cover;
    opacity: .3;
    position: absolute;
    padding: 0;
    height: 100vh;
    font-family: 'Open Sans';
    background-repeat: no-repeat;
}
#hero-slider .slides {
    padding: 0;
    background-size: cover;
    background-position: 50% 0%;
    width: calc(100vw - 81px);
    min-height: 100vh;
    position: relative;
}
#hero-slider {
    width: 100%;
    overflow: hidden;
    .slides:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, rgba(255, 255, 255, .9) 15%, rgba(255, 255, 255, 0) 100%);
    }
    .slides:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        z-index: 0;
    }
    .slides {
        .container {
            position: relative;
            z-index: 1;
        }
        iframe {
            position: absolute;
            width: calc(100vw - 81px);
            height: 100%;
            z-index: 0;
            opacity: 0;
            pointer-events: none;
            transition: .5s ease;
        }
    }
    .slick-slide img {
        width: 250px;
        margin-bottom: 1rem;
    }
    .video-close {
        position: absolute;
        right: 15px;
        top: 15px;
        padding: .9rem 1rem;
        background: $teal;
        line-height: 1;
        z-index: 1000000;
        border-radius: 100%;
        opacity: .8;
        transition: opacity .3s ease;
        display: none;
        &:hover {
            opacity: .25
        }
    }
    .video-close:before {
        content: '';
        font-family: fontawesome;
        display: block;
        font-size: 1rem;
        position: relative;
        color: white;
        line-height: 1;
    }
}
.play #hero-slider {
    .slides iframe {
        opacity: 1;
        pointer-events: all;
        z-index: 3;
    }
    .slick-dots {
        opacity: 0;
        pointer-events: none;
    }
}
.banner-text {
    // color: $teal;
    padding: 35vh 0 0;
    font-family: 'Open Sans';
    position: static;
    z-index: 2;
}
.flun-header {
    width: 20%;
}
.banner-h1 {
    font-size: 6rem;
    font-weight: 800;
    color: rgba(48, 100, 112, 0.87);
    letter-spacing: -0.075rem;
    //    line-height: 115px;    margin-bottom: 0;
}
.banner-h3 {
    font-weight: 800;
    color: rgba(48, 100, 112, 0.87);
    margin-bottom: 0;
    letter-spacing: -0.075rem;
}
.webkit {
    .banner-h1,
    .banner-h3 {
        background: linear-gradient(90deg, rgba(69, 145, 162, 0.79) 5%, rgb(2, 22, 27) 94%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.two-col-pane {
    background: linear-gradient(90deg, $teal 15%, $dark-teal 94%);
    font-size: 28px;
    color: #FFFFFF;
    letter-spacing: -0.33px;
    line-height: 32px;
    font-family: 'Open Sans';
}
.investment-text {
    font-family: 'Gentium Basic';
}
.info_pane {
    //    width: 55%;
    //    margin: 20px;
    //    margin-left: 40px;
    padding: 0 1rem;
    padding-bottom: 0;
    &:first-child {
        padding-top: 1rem;
    }
    h4 {
        font-size: 1.5rem;
        padding-right: 40%;
        line-height: 1.25;
        margin-bottom: .5rem;
        color: white;
    }
    h2 {
        font-weight: 900;
        margin-bottom: 0;
        line-height: 1;
        color: white;
    }
}
.info_content {
    font-weight: 100;
}
.two-col-pane hr {
    border-top: 1px solid #fff;
    width: 85%;
    margin: 1rem;
    margin-right: 0;
}
.two-col-pane hr:last-child {
    display: none;
}
.info_content:last-child {
    font-weight: 700 !important;
}
.info_sub_content {
    font-weight: bolder;
}
.two-col-info {
    padding-top: 3%;
    color: #616161;


    // (768px)
    @include media-breakpoint-down(md) {

        margin-bottom: 3rem;
    }

}
.info_content a {
    display: block;
    padding: 0 2rem 1rem 0;
    color: white;
    font-weight: 900;
    font-size: 2rem;
    &:after {
        content: '';
        font-family: fontawesome;
        position: absolute;
        right: 15%;
        top: 25%;
    }
}
.info_pane:last-of-type {
    h4 {
        padding: 0;
    }
    padding: 0 1rem;
}
button.btn.investment-btn {
    background: linear-gradient(90deg, $teal 15%, $dark-teal 94%);
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 0;
    padding: 15px 30px;
}
.investment-text {
    margin-top: 1em;
}
.cta {
    background: linear-gradient(90deg, $teal 15%, $dark-teal 94%);
    font-family: 'Open Sans';
    color: #fff;
    font-size: 20px;
}
.home .cta {
    margin-top: 50px;
}
.cta-buttons {
    border-left: 1px solid #8FBDC7;
    border-right: 1px solid #8FBDC7;
    text-align: center;
    a {
        color: white;
        font-weight: 100;
        line-height: 1;
        display: block;
        padding: 2rem 0;
    }
}
p.cta-title {
    padding: 1.5rem 0;
    text-align: center;
    font-weight: 700;
    margin: 0;
    line-height: 1;
    font-size: 2rem;
    color: white;
}
.cta-buttons p {
    font-size: 20px;
    color: #fff;
    font-weight: 100;
}
.cta-buttons .btn {
    padding: .5rem 2rem;
}
.values {
    background: #ECF4F5;
}
.fp-title {
    font-family: 'Open Sans';
    font-weight: 800;
    color: $teal;
}
.values-text {
    margin-top: 25px;
    color: #818181;
    font-family: 'Gentium Basic';
    h5 {
        font-size: 2rem;
    }

    p {

        margin-bottom: 3rem;
    }
}
.values-btn {}
.values-img img {
    width: 100%;
    pointer-events: none;
    // @media (max-width: 1439px)
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}
.values-img:nth-child(2) img {
    width: 300px;
    margin-top: -135px;
    margin-left: 270px;
}
.values-image-column {
    margin-top: 100px;
}
.news_title {
    color: #fff;
    font-family: 'Open Sans';
}
.news-container {
    color: #fff;
    padding: 4rem 0;
}
.news:before {
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgb(37, 76, 84) 0%, rgba(42, 75, 82, 0.99) 1%, rgba(43, 77, 84, 0.73) 46%, rgba(69, 145, 162, 0) 100%);
    position: absolute;
    z-index: 0;
    display: block;
}
.news {
    position: relative;
    z-index: 1;
}
.news {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 25%;
}
.news-blurb {
    color: white;
    font-family: $serif;
}
a.news-btn.btn {
    color: $teal;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    //    background: white;
    border-radius: 0;
    padding: 15px 35px;
    font-family: 'Open Sans';
}

/* Slider */

.btn.home-video {
    padding: .75rem 2rem;
    background: #ecf4f5;
    color: $teal;
    font-size: .8rem;
    border: 1px solid $teal;
    border-radius: 0;
    display: block;
    margin-left: auto;
    margin-right: 15%;
    max-width: 40vw;
    z-index: 1;
    font-family: $serif;
    position: inherit;


    // (768px)
    @include media-breakpoint-down(sm) {

        max-width: 100%;
    }

}
.btn.home-video i {
    display: block;
    font-size: 2rem;
    margin-bottom: .5rem;
}
.btn.home-video:before {
    content: '';
    position: absolute;
    left: 0 !important;
    height: 1px !important;
    background: $teal !important;
    width: 66.7% !important;
    z-index: -1 !important;
    margin-top: 2.5% !important;
    top: auto !important;
}
.btn.home-video:hover:before {
    opacity: 1;
}
.btn.home-video:after {
    content: '';
    position: absolute;
    right: 0;
    height: 1px;
    background: $teal;
    width: 16%;
    z-index: 0;
    margin-top: -1.05%;
}
#hero-slider {}
//.slick-slider {
//    position: relative;
//    width: 100%;
//    display: block;
//    box-sizing: border-box;
//
//    -webkit-user-select: none;
//    -moz-user-select: none;
//    -ms-user-select: none;
//    user-select: none;
//
//    -webkit-touch-callout: none;
//    -khtml-user-select: none;
//    -ms-touch-action: pan-y;
//    touch-action: pan-y;
//    -webkit-tap-highlight-color: transparent;
//}
//
//.slick-list {
//    position: relative;
//
//    display: block;
//    overflow: hidden;
//
//    margin: 0;
//    padding: 0;
//}
//
//.slick-list:focus {
//    outline: none;
//}
//
//.slick-list.dragging {
//    cursor: pointer;
//    cursor: hand;
//}
//
//.slick-slider .slick-track,
//.slick-slider .slick-list {
//    -webkit-transform: translate3d(0, 0, 0);
//    -moz-transform: translate3d(0, 0, 0);
//    -ms-transform: translate3d(0, 0, 0);
//    -o-transform: translate3d(0, 0, 0);
//    transform: translate3d(0, 0, 0);
//}
//
//.slick-track {
//    position: relative;
//    top: 0;
//    left: 0;
//    display: block;
//  max-height: 731px;
//  overflow: hidden;
//}
//
//.slick-track:before,
//.slick-track:after {
//    display: table;
//
//    content: '';
//}
//
//.slick-track:after {
//    clear: both;
//}
//
//.slick-loading .slick-track {
//    visibility: hidden;
//}
//
//.slick-slide {
//    display: none;
//    float: left;
//    height: 100%;
//    min-height: 1px;
//    width: 100%;
//
//    &:focus,
//    &:hover {
//        outline: 0;
//    }
//}
//
//[dir='rtl'] .slick-slide {
//    float: right;
//}
//
//.slick-slide.slick-loading img {
//    display: none;
//}
//
//.slick-slide.dragging img {
//    pointer-events: none;
//}
//
//.slick-initialized .slick-slide {
//    display: block;
//}
//
//.slick-loading .slick-slide {
//    visibility: hidden;
//}
//
//.slick-vertical .slick-slide {
//    display: block;
//
//    height: auto;
//
//    border: 1px solid transparent;
//}
//
//.slick-arrow.slick-hidden {
//    display: none;
//}
//
///* Slider */
//.slick-loading .slick-list {
//    background: #fff url('./ajax-loader.gif') center center no-repeat;
//}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slick-dots {
    position: absolute;
    bottom: auto;
    display: block;
    width: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    transform: translateY(50%);
    top: 50%;
    right: auto;
    left: 5%;
    z-index: 0;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 8px 1rem;
    padding: 0;
    cursor: pointer;
    &:after {
        content: '';
        height: 200%;
        width: 2px;
        background: $teal;
        position: absolute;
        margin-left: -1px;
    }
    &:last-child:after {
        content: none;
    }
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 16px;
    height: 16px;
    padding: 8px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: $teal;
    border-radius: 100%;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    font-family: 'FontAwesome';
    font-size: 9px;
    line-height: 1;
    position: absolute;
    top: 3px;
    left: 0;
    width: 16px;
    content: '\f111';
    text-align: center;
    opacity: 1;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: opacity 0.25s;
}
.slick-dots li.slick-active button {
    background: white;
    box-shadow: 0px 0px 1px $teal, 0px 0px 1px $teal, 0px 0px 1px $teal, 0px 0px 1px $teal;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: $teal;
}

/**
 * Photo
 */

.hero-slider {
    background-size: cover;
    background-position: center center;
    min-height: 10em;
    padding-bottom: 5%;
    will-change: transform;
    &.is-animating {
        animation: scale 5s ease-in-out forwards;
    }
    &:before {
        content: "";
        display: block;
    }
    * > {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
@keyframes scale {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1) rotate(0.01deg); // Rotate fixes shaking animation in some browsers. http://stackoverflow.com/questions/28992549/internet-explorer-and-css-transform-value-of-scale-on-keyframes
    }
}

/**
 * Wrapper
 */

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 45em;
    width: 90%;
}
@include media-breakpoint-down(lg) {
    .btn.home-video:before,
    .btn.home-video:after {
        opacity: 0;
    }
    .btn.home-video {
        margin: 2rem auto;
    }

    .values-img:nth-child(2) img {
        margin-left: auto;
        display: block;
        margin-right: 5%;
    }
    .info_content a:after {
        right: 0;
    }
    .cta-buttons a {


        font-size: 1rem;
    }
}
@media (max-width: 1080px) {
    // .banner-text{
    // 	top:325px;
    // }

}
@media (max-width: 993px) {
    #hero-slider .slick-dots {
        display: none !important;
    }

}
@include media-breakpoint-down(md) {
    .banner-text {
        //     	top:250px;
        padding: 35vh 5%;
    }
    .banner-h1 {
        font-size: 5em;
        //        line-height: 60px;
    }
    .banner-h3 {
        font-size: 1.5rem;
    }
    .interest {
        padding: 5%;
    }
    .two-col-pane hr {
        width: 100%;
    }
    .fp-cta {
        display: none;
    }
    .values {
        padding: 5%;
    }
    #hero-slider {
        .slides {
            width: 100vw;
            iframe {
                width: 100%;
            }
            .video-close {
                top: 80px;
            }
        }
        .slick-dots {
            display: none !important;
        }
    }
    #hero-slider .slick-slide img {
        width: 300px;
    }
    a[href="https://findsomewinmore.com"] {
        width: 100%;
    }


}
@media (max-width: 570px) {

        .cta-buttons {
        border: none;
    }
    .banner-text {
        // top: 125px;
        // position: absolute;
        //        font-family: 'Open Sans';
        // color: $teal;
        padding: 20vh 5% 0;
    }
    .flun-header {
        //        width: 50%;
    }
    #hero-slider .slick-slide img {
        width: 80%;
    }
    .banner-h3 {
        font-size: 6vw;
        letter-spacing: -.025rem;
    }
    .banner-h1 {
        font-size: 17vw;
        //        line-height: 50px;
    }
    .btn.home-video {
        position: relative;
    }
    .btn.home-video:before {
        //    width: 50vw !important;
        //    margin-top: 16% !important;
        //    left: -50vw !important;
        //        opacity: 1;
    }
    .btn.home-video:after {
        //        opacity: 1;
        //        margin-top: -3%;
        //        width: 23% !important;
        //
        //        left: 75% !important;
        //    right: auto !important;
    }
    .info_content a {
        font-size: 7vw;
        &:after {
            right: 0;
        }
    }
    .values {
        //        padding: 3rem 0 3rem;
        //        .values {
        //            padding: 3rem 3rem 0;
        //        }
        //        .container {
        //            padding: 0;
        //        }
        .values-image-column {
            margin: 0;
        }
        .values-img:nth-child(2) img {
            margin: 0 auto;
            margin-top: -20%;
            max-width: 50%;
        }
    }
    .section-header {
        margin: 0;
        //    padding-bottom: 0;
        padding: 2rem 1rem;
    }
    .section-header h2 {
        margin: 0;
        margin-top: 0;
    }
    #hero-slider .slides iframe {
        width: 100%;
        height: auto;
        z-index: 100;
        pointer-events: none;
        margin-top: 50%;
    }
    #hero-slider .video-close {
        top: 10%;
        //        bottom: 10%;
        //        right: 5%;
    }
    .play #hero-slider .slides:before,
    .play #hero-slider .slides:after {
        background: black;
        z-index: 10;
    }
    .play #hero-slider .slides iframe {
        pointer-events: all;
        z-index: 100;
    }
    .info_pane h4 {
        padding: 0;
    }
}
//slick
