.search-input {
    background: #eee;
}
.search-input input {
    padding: 1rem 0;
    background: none;
    border: none;
    font-size: 2rem;
    font-family: 'Open sans';
    font-weight: 100;
    text-transform: capitalize;
    outline: none;
    width: 100%;
}
.index-list {
    padding: 1rem;
}
.index-list li {
    margin: 1rem 0;
}
.index-list li a {
    font-weight: bold;
    color: $teal;
}
input.hidden {
    display: none;
}
.results {
    p {
        font-weight: bold;
        color: $teal;
    }
    a {
        display: block;
        color: $teal;
        padding: .25rem 0;
        display: none;
        &.visible {
            display: block;
        }
    }
}
.results.resources {
    a {
        display: block;
    }
}

.list ul {
    padding: 0;
}

.line span {
    position: absolute;
    right: .5rem;
    bottom: .75rem;
    transition: transform .2s ease;
}
.line {
    position: relative;
}
.search-list {
    display: none;
}
.line span {
    transform: rotate(0);
}
.toggle.active span {
    transform: rotate(135deg);
}
.toggle {
    cursor: pointer;
    padding-right: 50px !important;
}
