.home-container {
  font-family: 'Gentium Basic', serif;
  padding-left: 80px;
}

section {
  padding: 3rem 0;
  position: relative;
  background: white;

  &.p0 {
    padding: 0;
  }
}

.history-container,
.board-container,
.main-container,
.faq-container,
.wtg-container {
  padding-left: 80px;
}

.main-body {
  padding: 5rem 0;
}

/**********************
*****HISTORY PAGE******
**********************/
.single-post {
  .page-banner {
    h1 {
      font-size: 2.5rem;
      line-height: 1.5;

      // @media (max-width: 1439px)
      @include media-breakpoint-down(lg) {
        font-size: 2rem;
      }

      // @media (max-width: 1439px)
      @include media-breakpoint-down(sm) {
        font-size: 10vw;
      }

      // @media (max-width: 1439px)
      @include media-breakpoint-down(xs) {
        font-size: 6vw;
      }
    }

    h3 {
      font-size: 1rem;
    }

    h5 {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1rem;
    }
  }
}

.page-banner {
  img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    object-fit: cover;
    object-position: 50% 35%;
    pointer-events: none;

    &.downloadable {
      pointer-events: all;
    }
  }

  .overlay,
  .container,
  .container * {
    pointer-events: none;
  }

  h1 {
    font-size: 5rem;
    font-weight: 900;
    font-family: 'Open Sans';
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  }

  @include media-breakpoint-down(lg) {
    h1 {
      font-size: 4rem;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 50vw 0 30vw;

    h1 {
      font-size: 10vw;
    }
  }

  padding: 10rem 0;
  position: relative;
}

.single-videos {
  .page-banner .overlay, .page-banner .container, .page-banner .container * {
    pointer-events: all;
  }
}

.history {
  font-family: 'Gentium Basic';
}

.history-banner {
  padding: 10rem 0;

  // (768px)
  @include media-breakpoint-down(sm) {
    padding: 5rem 0;
  }
}

.history-hero-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.history-blockquote {
  font-style: italic;
  //    margin-top:-250px;
  color: #fff;
  font-weight: 100;
}

.history-blockquote h3 {
  font-family: 'Gentium Basic';
  font-weight: normal;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  //    font-weight:200;
}

.historyhr {
  width: 5%;
  margin-bottom: 1rem;
  border-bottom: 2px solid $green;
}

.our-history-mission {
  font-family: 'Open Sans';
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
}

.history-center-image {
  height: 350px;
  margin-top: 20px;
  object-fit: cover;
  object-position: 50% 25%;
  box-shadow: $shadow-1;
  width: 100%;
  pointer-events: none;
}

.col-md-4 {
  .history-center-image {
    height: 200px;
    pointer-events: none;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: .5;
}

//    &.col-md-4 {
//
//
//        height: 200px
//    }
.history-mission-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  object-fit: cover;
  object-position: 50% 15%;
  pointer-events: none;

  // (768px)
  @include media-breakpoint-down(sm) {
    position: relative;
  }
}

.history-mission {
  background: $green;
  color: #fff;

  p {
    color: white;
  }
}

.content {
  padding: 8rem 5rem;

  // (768px)
  @include media-breakpoint-down(sm) {
    padding: 3rem 2rem;
  }
}

.history-mission-title:before {
  content: '';
  width: 50px;
  height: 2px;
  position: relative;
  //    left: -60px;
  margin-right: 1rem;
  top: -1rem;
  display: inline-block;
  background: white;
}

.history-mission-title {
  font-weight: 900;
  //    margin-top: 10%;
  //    margin-left: 10%;
}

.history-mission-blurb {
  font-family: 'Gentium Basic';
  //    margin-top: 5%;
  //    margin-left: 10%;
  //    margin-right: 10%;
}

.history-section {
  margin: 50px 0;
}

.mission-cta-block {
  margin-top: 5%;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03), 0 1px 2px rgba(0, 0, 0, 0.02);
  transition: .5s ease;

  p,
  h3 {
    transition: inherit;
    pointer-events: none;
  }

  p {
    font-family: 'Gentium Basic';
  }

  &:hover {
    .history-hr {
      border-bottom: 2px solid white;
    }

    h3,
    p,
    .btn {
      color: white;
    }
  }

  .btn {
    background: none;
    color: $teal;
    box-shadow: none;

    &:before {
      content: none;
    }

    &:hover {
      background: none;
      color: white;

      &:before {}
    }
  }
}

div.mission-cta-block:hover {
  background-color: $teal;
}

a.history-cta-btn {
  color: $teal;
}

.mission-cta-block h3 {
  color: $teal;
  margin-bottom: 0;
  font-size: 2rem;
  line-height: 1;
  padding-bottom: 1rem;
  border-bottom: 2px solid $teal;
  margin-bottom: 1rem;
}

.history-hr {
  width: 100%;
}

.cta-history {
  margin-top: 50px;
  background: linear-gradient(90deg, $teal 15%, $dark-teal 94%);
  font-family: 'Open Sans';
  color: #fff;
  font-size: 20px;
}

/**********************
******LEADERSHIP*******
**********************/
.leader-banner {
  width: 100%;
}

.banner-leader {
  position: relative;
}

.leader-banner-text {
  color: #fff;
}

.leader-banner-text h1 {
  font-weight: 700;
}

.leader-nav {
  margin-top: 75px;
  color: $teal;
  font-size: 16px;
}

.leader-nav a {
  color: $teal;
  text-decoration: none;
  font-weight: bold !important;
}

.leader-nav li {
  margin-top: 15px;
}

.leader-blurb {
  font-family: 'Gentium Basic';
  margin-top: 100px;
  margin-bottom: 50px;
}

.leadership-loop {
  background: #f5f7f7;

  .slick-list {
    overflow: visible;
  }

  @include media-breakpoint-down(sm) {
    .mb-5 {
      margin-bottom: 0 !important;
    }
  }
}

.leader-bio-container {
  //    background: #fff;
  //     box-shadow: $shadow-1;
}

h4.leader-name {
  color: $teal;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 1.5rem;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

h5.leader-title {
  color: #3B9A2D;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.bio-email {
  text-decoration: none;
  color: #8e8e8e;
  display: block;
  font-size: 1rem;
}

.mini-bio {
  font-family: 'Gentium Basic';
  padding-top: 1rem;
  display: block;
  margin-bottom: 2rem;

  p {
    font-size: 1rem;
  }
}

.leader-cta {
  margin-top: 0;
}

.bio-text {
  font-family: 'Gentium Basic';
}

.leader-btn {
  background: linear-gradient(90deg, $teal 15%, $dark-teal 94%);
  color: #fff;
  text-transform: uppercase;
  //    font-size: 12px;
  border-radius: 0;
  padding: .75rem 2rem;
  display: block;
  max-width: 200px;
  margin-left: auto;
  margin-right: 0;
  line-height: 1;

  //    float: right;
  @include media-breakpoint-down(sm) {
    margin-left: 0;
    margin-right: auto;
  }
}

.leader-btn a {
  //    font-size: 16px;
  //    text-decoration: none;
  //    text-transform: uppercase;
  //    color: #fff;
  //    margin-top: 5px;
}

.leader-btn p {
  margin-bottom: 0;
  padding: 10px 0;
}

.bio-container {
  padding: 3rem 2rem;
}

/**********************
******SINGLE BIO*******
**********************/
.single-banner,
.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-banner-text,
.banner-text {
  color: #fff;
  // margin-top:-200px;
}

.single-banner-text h1 {
  font-weight: 700;
}

.single-banner-text h2 {
  font-weight: lighter;
}

.single-title {
  text-transform: uppercase;
  font-weight: bolder;
}

.email-phone {
  font-weight: lighter;
}

.leader-line {
  border-top: 2px solid $green;
  width: 5%;
}

.bio-image {
  display: inline-table;
}

.leader-bio {
  margin: 75px 0;
}

/**********************
*********FAQ's*********
**********************/
.faq-banner {
  width: 100vw;
}

.faq-banner-text {
  color: #fff;
  margin-top: -150px;
  font-weight: 800;
}

.faq-section {

  //    width: 50%;
  h2 {
    margin: 1rem 0;
    font-size: 2rem;
    padding-right: 50px
  }
}

.faq-accordion-title {
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 2px solid $green;
  color: $teal;
}

.faq-accordion-title h2 {
  font-weight: 500;
  font-family: 'Open Sans';
}

.plusminus {
  float: right;
  font-size: 20px;
}

.faq-accordion-container {
  padding: 1rem;
}

.faq-question {
  color: $teal;
  font-weight: 300;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.faq-answer {
  font-family: 'Gentium Basic';
  margin-top: 20px;
}

.faq-navigation a {
  text-decoration: none;
  color: $teal;
  font-family: 'Open Sans';
  display: block;
  padding: .25rem 0;
  font-weight: 700;
}

.faq-navigation {
  margin-top: 2rem;
}

.accordion-wrap {
  display: none;
}

/**********************
*****GENERAL PAGES*****
**********************/
.general-banner,
.faq-banner {
  position: relative;
}

blockquote {
  font-style: italic;
  font-weight: lighter;
  color: $dark-teal;
  font-family: 'Gentium Basic';
  font-size: 2.5rem;
  margin-bottom: 2rem;

  .single & {
    float: left;
    width: 40%;
    margin: 20px 20px 20px -25%;

    @media screen and (max-width: 768px) {
      float: none;
      width: 100%;
      margin: 20px;
    }
  }

  p,
  span {
    font-style: italic;
    font-weight: lighter;
    color: $dark-teal;
    font-family: 'Gentium Basic';
    font-size: 2.5rem;
  }

  p:nth-of-type(2) {
    display: block;
    font-size: 1.5rem;

    * {
      display: block;
      font-size: 1.5rem;
    }
  }
}

.get-quote {
  >p {
    font-style: italic;
    font-weight: lighter;
    color: $dark-teal;
    font-family: 'Gentium Basic';
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}

button.button,
.button a {
  background: linear-gradient(90deg, $teal 15%, $dark-teal 94%);
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 0;
  padding: 15px 15px;
}

.section-header {
  margin-top: 20px;
  background: white;
}

strong {
  font-weight: 700;
}

.general-section-text {
  font-family: 'Gentium Basic';
}

.intro-section-text {
  font-family: 'Gentium Basic';
  margin-top: 100px;
}

.intro-section-text strong {
  font-weight: 700;
}

.general-section-text li {
  list-style-type: circle;
}

.general-body-text {
  margin-bottom: 20px;
}

.intro-section-text iframe {
  display: block !important;
  margin: 0 auto !important;
}

//Posts
.post-categories,
.post-categories a {
  color: #fff;
  //    margin-top: -100px;
  text-align: center;
  text-decoration: none;
  font-weight: lighter;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  padding: .25rem 0;
  line-height: 1;
  display: block;
}

.post-body {
  font-family: 'Gentium Basic';
  //    padding-top: 60px;
  padding-bottom: 60px;

  // (768px)
  @include media-breakpoint-down(sm) {
    padding: 0 15px;
  }
}

.post-body figure {
  margin: 1rem;

  img {
    box-shadow: $shadow-1;
    display: block;
    margin: 0 auto;
    //        pointer-events: none;
  }

  &.alignright {
    margin: 1rem -25% 0 1rem;
  }

  &.alignleft {
    margin: 1rem 2rem 0 -25%;
  }

  &.aligncenter {
    width: 100% !important;
    margin: 0 auto !important;
    display: block !important;
  }
}

.post-body img {
  margin: 1rem;
  box-shadow: $shadow-1;

  //    pointer-events: none;
  &.alignright {
    margin: 1rem -25% 0 1rem;
  }

  &.alignleft {
    margin: 1rem 2rem 0 -25%;
  }
}

.wp-caption {
  /* padding: 1rem; */
  display: block;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  width: 50%;

  &.alignright {
    margin: 1rem -25% 0 1rem;
  }

  &.alignleft {
    margin: 1rem 2rem 0 -25%;
  }

  img {
    margin: 0 auto .5rem;
    width: 100%;
    height: auto;
  }

  p {
    margin-bottom: 0;
    font-style: italic;
  }
}

figcaption.wp-caption-text {
  padding: 1rem;
  font-style: italic;
  text-align: center;
}

.stories-banner {
  position: relative;
  margin-bottom: 50px;
}

//Resources Float Nav
#float-nav {
  margin-top: 45px;

  &.stuck {
    position: fixed;
    top: 65px;
    margin-top: 0;

    // (768px)
    @include media-breakpoint-down(sm) {
      position: relative;
      top: auto;
      margin-bottom: 3rem;
    }
  }

  // (768px)
  @include media-breakpoint-down(sm) {
    margin-bottom: 3rem;
  }
}

/**********************
*****MEDIA QUERIES*****
**********************/
@include media-breakpoint-down(md) {

  .home-container,
  .main-container {
    padding-left: 0;
  }

  .cta {
    display: none;
  }

  .history-mission {
    height: 100%;
  }

  .values-img img {
    width: 100%;
    pointer-events: none;
  }

  .values-img:nth-child(2) img {
    width: 75%;
    margin-left: 12%;
    pointer-events: none;
  }

  .about-nav,
  .about-blockquote {
    display: none;
  }

  .nav-quote {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
  }

  .values-section {
    //        margin-right: 15%;
    //        margin-left: 15%;
  }

  .mission-img {
    display: none;
  }

  .mission-text,
  .mission-text-2 {
    margin-left: 10%;
    margin-right: 10%;
  }

  .mission-section-2 {
    margin-top: 0;
  }

  .mission-text ul {
    margin: 0;
  }

  .mission-text-2 ul {
    padding: 0;
  }

  .bio-image {
    //        margin: 0 50px;
    height: 100vw;
  }

  .bio-text {
    //        margin: 50px;
  }

  .news-container {
    //        margin: 50px;
  }

  .history-container,
  .board-container,
  .main-container,
  .faq-container {
    padding-left: 0px;
  }

  .history-mission .row {
    margin: 0;

    .col-md-6 {
      padding: 0
    }
  }

  .leader-nav {
    display: none;
  }

  .leader-blurb {
    margin: 0;
    padding: 3rem 15px;
  }
}

//Staff Bios
img.single-bio-image {
  width: 90%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  box-shadow: $shadow-1;
}

//General Styles
.alignright {
  float: right;

  // (768px)
  @include media-breakpoint-down(md) {
    float: none;
    margin: 0 auto 1rem !important;
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.alignleft {
  float: left;

  @include media-breakpoint-down(md) {
    float: none;
    margin: 0 auto 1rem !important;
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.wp-caption-text {
  font-size: 1rem;
}

.section-header {
  color: $teal;
  font-family: 'Open Sans';
}

blockquote {

  //    margin-bottom: 50px;
  //    font-style: italic;
  //    font-weight: lighter;
  //    color: $teal;
  //    font-size: 1.5rem;
  // (768px)
  @include media-breakpoint-down(sm) {
    font-size: 5vw;
    margin-bottom: 2rem;

    p {
      font-size: 5vw;
    }
  }
}

@include media-breakpoint-down(sm) {
  .get-quote>p {
    font-size: 5vw;
  }
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 44.5%;
  height: 0;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  border: 5px solid #eee;
  box-shadow: $shadow-1;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p.caption {
  width: 80%;
  margin: 0 auto 2rem;
  background: #696969;
  color: #ffffff;
  padding: .25rem 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  margin-top: -1rem;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

//Gravity Forms
.gform_confirmation_message br {
  display: none;
}

.gform_wrapper {

  .address_city,
  .address_state,
  .address_zip {
    width: calc(100% / 3) !important;
    float: left;
    margin: 0 !important;

    // (768px)
    @include media-breakpoint-down(sm) {
      width: 100% !important;
      float: none;
    }
  }

  .ginput_complex.ginput_container_address .ginput_right {
    margin-right: 16px;
  }

  .ginput_complex.ginput_container_address span.ginput_right+span.ginput_left.address_zip {
    padding-right: 0 !important;
  }

  .ginput_complex .ginput_left,
  .ginput_complex.ginput_container_address .ginput_right {
    padding-right: 16px !important;

    @include media-breakpoint-down(sm) {
      padding-right: 0 !important;
    }
  }

  .chosen-container .chosen-results li.active-result.highlighted {
    background: linear-gradient(45deg, #4591a2 15%, #124F5D 94%)
  }

  select {
    //        margin-bottom: 2rem;
    appearance: none;
    -webkit-appearance: none;
    padding: .7rem 1rem !important;
    background: #eee;
    //        font-family: $serif;
    border-radius: 0;
    border: 5px solid #fff;
    box-shadow: $shadow-1;
    outline: none;
    background-image: url(../../dist/img/down.svg);
    background-color: white;
    background-size: 50px;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    width: 100%;
  }
}

.chosen-container {
  width: 100% !important;
}

.gform_wrapper .chosen-container .chosen-results li {
  line-height: 1.5;
  border-bottom: 1px solid #eee;
  padding: 1rem;
}

.gform_wrapper {

  li#field_1_7,
  li#field_1_6 {
    width: 100%;
    display: block;
  }

  li#field_1_1 {
    width: 100%;
    clear: none;
    display: block;
  }

  input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  textarea {
    padding: .5rem .75rem;
    line-height: 2;
    height: auto;
    font-size: 1rem;
    border: none;
    background: #eee;
    margin-bottom: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    outline: none;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border: 4px solid white;
    color: black;

    &:active,
    &:hover,
    &:focus {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }
  }

  .has_street.has_street2.has_city.has_state.has_zip input {
    margin-bottom: 1.5rem !important;
  }

  .top_label .gfield_label,
  .field_sublabel_below .ginput_complex.ginput_container label,
  .field_sublabel_below div[class*=gfield_time_].ginput_container label {
    font-weight: normal;
    display: none;
  }

  .chosen-container-single .chosen-single {
    border: none;
    padding: .75rem 1rem;
    height: auto;
    margin: 0;
    border-radius: 0;
    background: #eee;
  }
}

// Contact
.map-container {
  position: absolute;
  height: 100%;
  overflow: hidden;
  width: 100%;
  top: 0;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

address {
  padding: 2rem;
  background: #eee;

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  p {
    //        margin: 0;
  }

  a {
    display: block;
    line-height: 1;
    padding: .5rem 0;
  }
}

.share-bar {
  position: fixed;
  right: 0;
  top: 40%;
  background: linear-gradient(135deg, #4591a2 15%, #124F5D 94%);
  z-index: 100;

  p {
    font-size: 14px;
    margin: 0;
    padding: .5rem 1rem;
    text-align: center;
    //        background: black;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
  }

  ul {
    padding: 0;

    li a {
      display: block;
      padding: 1rem;
      text-align: center;
      color: white;

      //            background: black;
      img {
        width: 24px;
        height: auto;
      }
    }
  }
}

a[href="https://findsomewinmore.com"] {
  margin-left: 0px;
  display: block;
  width: 300px;
}

a[href="https://findsomewinmore.com"] img {
  width: 100%;
  display: block;
}

.event-info {
  padding: 2rem;
  background: #eee;
  border: 5px solid white;
  margin-bottom: 2rem;
  box-shadow: $shadow-1;
}

.faq-navigation p {
  margin: 0;
}

//Downloads
.form-downloads {
  display: none;
  padding: 2rem;
  background: #eee;
  border: 5px solid white;
  padding-bottom: 0;

  a {
    display: none;
  }
}

//Newsletter Modal
.modal {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  background: rgba(255, 255, 255, .8);
  //    display: none;
  transition: opacity .5s ease;
  opacity: 0;
  pointer-events: none;

  * {
    pointer-events: none;
    color: white;
  }

  &.show {
    opacity: 1;
    pointer-events: all;

    * {
      pointer-events: all;
    }
  }

  .container {
    align-self: center;

    .inner {
      padding: 2rem;
      background: white;
      padding-top: 200px;
      background-image: url(../../dist/img/flun-33.jpg);
      background-size: cover;
      background-position: 50%;
      border: 5px solid white;
      box-shadow: $shadow-1;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 100%);
        z-index: 0;
      }

      .close {
        position: absolute;
        right: 15px;
        top: 15px;
        padding: .9rem 1rem;
        background: $teal;
        line-height: 1;
        z-index: 1000000;
        border-radius: 100%;
        opacity: .8;
        transition: opacity .3s ease;

        //        display: none;
        &:hover {
          opacity: .25
        }
      }

      .close:before {
        content: '';
        font-family: fontawesome;
        display: block;
        font-size: 1rem;
        position: relative;
        color: white;
        line-height: 1;
      }

      label {
        display: none !important;
      }

      h2 {
        //                text-align: center;
        color: white;
        text-shadow: $shadow-1;
        margin-bottom: 1rem;
        font-weight: 700;
      }

      p {
        position: relative;
      }

      .gform_body {
        /* width: 50% !important; */
        /* display: inline-block; */
        //                flex: 2;
        position: relative;
      }

      .gform_wrapper .gform_footer {
        margin: 0;
        padding: 0;
        /* display: inline-block; */
        /* width: 50%; */
        /* clear: none; */
        //                flex: 1;
      }

      .gform_wrapper form {

        //                display: flex;
        // (768px)
        @include media-breakpoint-down(sm) {
          display: block;
        }
      }

      .gform_wrapper ul li.gfield {
        padding: 0 !important;
        margin: 0 !important;
      }

      .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
        width: 100%;
        padding: .5rem 1rem;
        margin: 5px 0 5px;

        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }

      .top_label div.ginput_container {
        margin: 0 !important;
      }

      .gform_wrapper .gform_footer input.button {
        margin-top: 5px;
        width: 100%;
      }

      .gform_validation_error {
        /* position: absolute; */
        margin: 0 !important;
      }

      .gform_wrapper div.validation_error {
        position: absolute !important;
        border: none !important;
        background: none !important;
        display: none !important;
      }

      .gform_wrapper li.gfield.gfield_error,
      .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
        background: none !important;
        border: none !important;
      }

      .gform_wrapper .validation_message {
        padding: 0 1rem !important;
        color: white !important;
      }

      .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
      .gform_wrapper li.gfield_error textarea {
        margin-top: .25rem;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .share-bar {
    top: auto;
    left: 80px;
    bottom: 0;
    right: 0;
    transition: transform .5s ease;
    z-index: 1000;
  }

  .share-bar li {
    display: inline-block;
    width: 20%;
  }

  .share-bar ul {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .share-bar p {
    display: none;
  }

  .share-up .share-bar {
    transform: translateY(100%);
  }
}

@include media-breakpoint-down(md) {
  .share-bar {
    left: 0;
  }
}

// (768px)
@include media-breakpoint-down(sm) {
  .post-body figure img {
    width: 100% !important;
    height: auto;
  }

  .post-body figure,
  .post-body figure.alignright,
  .post-body figure.alignleft {
    width: 100% !important;
    margin: 0 !important;
  }

  .page-template-contact {
    h1 {
      font-size: 7vw;
    }
  }

  .btn:not(.video-home) i {
    display: block;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .btn:not(.video-home) {
    display: block;
  }

  .map-container {
    position: relative;
    height: auto;
    padding-bottom: 100%;
    margin-top: 56px;
  }

  .page-template-contact .page-banner {
    padding: 0;
    padding-top: 1px;
  }

  footer p {
    text-align: center;
  }

  a[href="https://findsomewinmore.com"] {
    margin: 0 auto;
    display: block;
  }

  .faq-navigation {
    margin-top: 0;
  }
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 100;
}

ul.downloads a {
  text-transform: uppercase;
  display: block;
  padding: .25rem 0;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

ul.downloads {
  padding: 0;
  margin-bottom: 3rem;

  ul {
    padding: 0;
    margin-bottom: 0;
  }
}

//Date Archives
.date-archive {
  p {
    margin-bottom: .5rem;
  }

  select {
    margin-bottom: 2rem;
    appearance: none;
    -webkit-appearance: none;
    padding: .5rem 4rem;
    font-family: $serif;
    border-radius: 10px;
    border: 5px solid #eee;
    box-shadow: $shadow-1;
    outline: none;
    background-image: url(../../dist/img/down.svg);
    background-size: 50px;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    width: 100%;
    background-color: white;
    pointer-events: all;

    // (768px)
    @include media-breakpoint-down(sm) {
      margin-bottom: .5rem;

      &#cat {
        margin-bottom: 2rem;
      }
    }
  }
}

.page-banner .date-archive {
  select {
    margin: 0 auto;
    display: block;
    position: relative;
    pointer-events: all;

    // (768px)
    @include media-breakpoint-down(sm) {
      margin-bottom: .5rem;
    }
  }
}

ul.date-archives {
  column-count: 3;

  li {
    margin-bottom: .5rem;
  }

  // (768px)
  @include media-breakpoint-down(sm) {
    column-count: 1;
  }
}

.media-cat {

  .cat-item-8,
  .cat-item-6,
  .cat-item-13,
  .cat-item-7 {
    display: none;
  }
}

// Banner caption
.banner-caption {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  text-align: right;
  padding: .5rem 1rem;
  opacity: .75;
  //    width: 100%;
  //    padding-top: 100%;
  background: black;
  color: white;
  font-family: $serif;
  font-style: italic;
  //    padding-right: 50px;
}

//Post Images
.wp-caption:not(.video) {
  position: relative;

  &:before {
    content: ' Click for full image';
    font-family: fontawesome, $serif;
    position: absolute;
    left: 0;
    top: 0;
    padding: 25%;
    text-align: center;
    z-index: 1;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    color: white;
    font-style: italic;
    opacity: 0;
    transition: opacity .5s ease;
    pointer-events: none;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.wp-caption.video {

  // (768px)
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.post-body figure {
  position: relative;
  cursor: zoom-in;

  &:hover:before {
    opacity: 1;
  }
}

.page-banner.video {
  padding: 0;

  .iframe-wrapper {
    width: 100%;
  }

  h1 {
    text-align: left;
    color: $teal;
    text-shadow: none;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 2rem;
  }
}

@media print {
  .share-bar {
    display: none;
  }
}

.search-body {
  #search {
    text-align: left;
    border: 2px solid #eee;
    width: 300px;
    font-size: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 2rem;
      border-bottom: 2px solid #eee;
      padding-bottom: 2rem;

      a {
        font-size: 1.5rem;
        font-weight: bold;

        b {
          text-decoration: underline;
        }

        //             color: $gree;
        span:not(.searchwp-highlight) {
          display: block;
          margin-top: .5rem;
          color: gray;
          font-size: .9rem;
          margin-bottom: 0;

          &.author {
            text-transform: capitalize;
          }

          b {
            color: $teal;
            text-decoration: underline;
            background: yellow;
          }
        }
      }

      p {
        //             padding: .25rem;
        margin-top: .5rem;
        font-size: .9rem;
        margin-bottom: 0;

        b {
          color: $teal;
          text-decoration: underline;
        }
      }
    }
  }
}

// Comment Forms
.comment-form {
  label {
    display: block;
    font-weight: 700;
  }

  input,
  textarea {
    width: 100%;
    padding: .5rem .75rem;
    line-height: 2;
    height: auto;
    font-size: 1rem;
    border: none;
    background: #eee;
    margin-bottom: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    outline: none;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border: 4px solid white;

    &:active,
    &:hover,
    &:focus {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }
  }
}

.form-submit {
  .submit {
    width: auto;
    outline: none;
    text-align: center;
    border: none;
    padding: 1rem 2rem;
    display: inline-block;
    background: linear-gradient(90deg, $teal 15%, $dark-teal 94%);
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 0;
    font-weight: 700;
    font-family: 'Open Sans';
    box-shadow: $shadow-2;
    outline: none;
    color: white;
    transition: .3s ease;
    position: relative;
    z-index: 1;
    text-decoration: none !important;

    &:hover {
      background: linear-gradient(90deg, white 15%, white 94%);
      color: $teal;
      box-shadow: $shadow-1;
    }
  }
}

.author-meta {
  border-top: 2px solid #6dc05d;
  padding: 1rem 0;
  margin-bottom: 0;
  padding-bottom: 0;

  img {
    height: 125px;
    width: 125px;
    object-fit: cover;
    object-position: 50% 25%;
    border-radius: 100%;
    border: 2px solid #6dc05d;
    margin: 2rem 0;
    margin-left: auto;
    display: block;
  }

  .by {
    margin-bottom: 0;
  }

  p.author {
    font-size: 2rem;
    font-style: italic;
    margin: 0;
  }
}

.page-banner {
  .author-meta {
    border-top: none;
    margin-bottom: 0;

    img {
      height: 80px;
      width: 80px;
      object-fit: cover;
      object-position: 50% 25%;
      border-radius: 100%;
      border: 2px solid #6dc05d;
      display: block;
      margin: 1rem auto;
      position: relative;
    }

    p.author {
      font-size: 1rem;
      font-style: italic;
      margin: 0;
      text-align: center;
      color: white;
    }
  }
}

img.no-download,
.mfp-img {
  pointer-events: all !important;
}

.searchwp-highlight {
  background: yellow;
}
