$nav-width-desktop: 5rem;
.site-wrap {
  padding-left: $nav-width-desktop;
}
header {
  position: fixed;
  width: $nav-width-desktop;
  height: 100%;
  background-color: #306470;
  z-index: 100;
  //  opacity:0.9;
}
.icon-bar {
  color: #fff;
}
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin-left: 20px;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  background: transparent;
  //    transform: rotate(270deg);
  //    text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 25px;
  left: 8px;
  right: 8px;
  height: 3.5px;
  background: #fff;
  opacity: .7;
  border-radius: 500px;
  transition: all .5s ease;
}
.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3.5px;
  background-color: #fff;
  content: "";
  border-radius: 500px;
  transition: all .3s ease;
}
.c-hamburger span::before {
  top: 8px;
}
.c-hamburger span::after {
  bottom: 8px;
}
.c-hamburger {
  background-color: TRANSPARENT;
  margin-top: 15px;
  margin-left: 15px;
  @media(max-height: 768px) and (orientation: landscape) {
    margin-top: 5px;
  }
}
//.c-hamburger span::before,
//.c-hamburger span::after {
//  transition-duration: 0.3s, 0.3s ease-out;
//  transition-delay: 0.3s, 0s ease-out;
//}
//
//.c-hamburger span::before {
//  transition-property: top, transform;
//}
//
//.c-hamburger span::after {
//  transition-property: bottom, transform;
//}

/* active state, i.e. menu open */

.c-hamburger.is-active {
  background-color: transparent;
}
.c-hamburger.is-active span {
  background: none;
}
.c-hamburger.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}
.c-hamburger.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.c-hamburger.is-active span::before,
.c-hamburger.is-active span::after {
  transition-delay: 0s, 0.3s;
}
.menu-toggle {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  padding: 1.15rem;
  //    transform: rotate(270deg);
  color: #fff;
  //    margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 8px;
  text-align: center;
  padding-top: 0;
  @media(max-height: 768px) and (orientation: landscape) {
    font-size: 6px;
    padding-bottom: 5px;
  }
}
.nav-drawer {
  position: fixed;
  top: 0;
  left: 0;
  //    width: 100%;
  height: 100%;
  z-index: 60;
  padding: 5vh 1rem 2rem calc(81px + 3rem);
  transform: translate3d(-100%, 0, 0);
  transition: all .75s ease;
  background-image: url(../../dist/img/menu.jpg);
  background-size: cover;
  background-position: 50%;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  width: 90%;
  //    overflow: -moz-scrollbars-none;
  .bg {
    background: rgba(48, 100, 112, 0.9);
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 150%;
    bottom: 0;
    @media screen and (max-height: 700px) {
      height: 500%;
    }
  }
  > nav > .container {
    max-width: 100%;
    width: 100%;
  }
  @media(max-height: 768px) and (orientation: landscape) {
    width: 100%;
  }
}
html:not(.ie) .bg {
  position: fixed;
}
.nav-drawer a {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  display: block;
  position: relative;
}
.nav-drawer a:before {
  content: '';
  width: 20px;
  height: 2px;
  position: absolute;
  left: -30px;
  top: 50%;
  display: block;
  background: #99cc8e;
}
.menu li ul a:first-child {
  font-size: 16px;
  font-weight: normal;
}
.menu li ul a:first-child:before {
  content: " ";
}
#primary-menu {
  margin-top: 100px;
}
li {
  list-style: none;
}
.social-header .fa {
  color: #4991A1;
  font-size: 1.25em;
  margin-top: 10px;
  margin-left: 10px;
}
.nav-social {
  position: fixed;
  bottom: 0;
  margin-left: -25px;
  @media(max-height: 768px) and (orientation: landscape) {
    width: auto;
    margin-left: 0px;
    bottom: 0;
    padding: 1rem 0;
    &:before {
      content: '';
      font-family: fontawesome;
      position: absolute;
      margin-left: 0;
      font-size: 2rem;
      color: white;
      width: 80px;
      display: block;
      line-height: 1;
      text-align: center;
      padding: 1rem;
    }
    ul {
      padding: .15rem 1rem .5rem;
      margin-bottom: 0;
      opacity: 0;
      transform: translateY(9px);
      transform-origin: 50% 50% 0;
      transition: .3s ease;
      pointer-events: none;
      background: white;
      border-radius: 100px;
      //            bottom: 10px;
      margin-left: 85px;
      li {
        display: inline-block;
      }
    }
    &:hover {
      ul {
        pointer-events: all;
        opacity: 1;
        transform: translateY(4px);
      }
    }
  }
}
body {
  &.nav-drawer-in {
    .nav-drawer {
      transform: translate3d(0, 0, 0);
    }
  }
}
ul#menu-primary-menu-1 {
  //    width: 100vw;
  display: inherit;
  //    margin-top: 150px;
  //        column-count: 3;
  //    column-fill: balance;
  //    height: 90vh;
  width: 100%;
  li {
    margin: 1rem 0;
    line-height: 1;
    display: inline-table;
    width: 100%;
    vertical-align: top;
    a {
      font-weight: 900;
      text-decoration: none;
      pointer-events: none;
      // (768px)
      @include media-breakpoint-down(md) {
        pointer-events: all;
      }
      &:hover {
        color: $green;
      }
    }
  }
  > li {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
    transform-origin: 50% 50%;
    transition: .4s ease-out;
    max-width: calc(98% / 4);
  }
  ul {
    column-count: 1;
    padding: 0;
    li {
      margin: 1rem 0;
      display: block;
      width: 100%;
      a {
        font-weight: 100;
        font-family: $serif;
        pointer-events: all;
        &:before {
          content: none;
        }
      }
      ul {
        padding: 0 1rem;
        li:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
.nav-drawer-in {
  ul#menu-primary-menu-1 {
    > li {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(1);
      &:nth-child(1) {
        transition-delay: .4s;
      }
      &:nth-child(2) {
        transition-delay: .65s;
      }
      &:nth-child(3) {
        transition-delay: .9s;
      }
      &:nth-child(4) {
        transition-delay: 1.15s;
      }
      &:nth-child(5) {
        transition-delay: 1.4s;
      }
      &:nth-child(6) {
        transition-delay: 1.65s;
      }
      &:nth-child(7) {
        transition-delay: 1.8s;
      }
    }
  }
  .main-container,
  .news_section,
  footer,
  .home-container {
    cursor: w-resize;
  }
  overflow: hidden;
}
.primary-branding {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.mobile-menu {
  display: none;
}
#nav-search {
  input {
    background: none;
    border: none;
    color: white;
    border-bottom: 2px solid white;
    margin-bottom: 1rem;
    outline: none;
    font-family: fontawesome, 'Open Sans';
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: .5rem;
    transition: opacity .5s ease;
    opacity: .5;
    width: 100%;
    -webkit-border-radius: 0;
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: white;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: white;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: white;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: white;
    }
    &:active,
    &:focus {
      opacity: 1;
    }
  }
  .nav-list.list {
    position: absolute;
    width: 50vw;
    background: none;
    height: 70vh;
    overflow: scroll;
    opacity: 0;
    transition: opacity .5s ease;
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%);
    pointer-events: none;
    padding: 0;
    li:before {}
    li {
      a {
        padding: .5rem 1rem;
        //                transition: .3s ease;
        &:hover {
          color: $green;
        }
        span {
          display: block;
          right: 0;
          text-transform: uppercase;
          font-size: 10px;
          span {
            text-transform: lowercase;
            display: inline-block
          }
        }
      }
      &.active {
        a {
          background: white;
          color: $green;
        }
      }
    }
    li a:before {
      content: none;
    }
    &.show {
      opacity: 1;
      pointer-events: all;
    }
  }
  //    .search-clear:before {
  //        content: '';
  //        background: none;
  //        font-family: fontawesome;
  //        font-size: 10px;
  //        width: auto;
  //        height: auto;
  //        right: 0;
  //        left: auto;
  //        top: 7px;
  //    }
  .search-container {
    position: relative;
  }
  //    .search-clear {
  //        position: static;
  //    }
}
.search-open {
  ul#menu-primary-menu-1 {
    > li {
      opacity: 0;
      transform: translate3d(0, 5%, 0);
      transition-delay: 0s !important;
      pointer-events: none;
    }
  }
  // (768px)
  @include media-breakpoint-down(sm) {
    .nav-row {
      a {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
.account:before {
  content: none !important;
}
.nav-row {
  //    div:nth-of-type(3){
  //
  //   // (768px)
  //   @include media-breakpoint-down(sm) {
  //       padding: 0 23px;
  //   }
  //
  //    &:before {
  //        content: '';
  //        font-family: fontawesome;
  //        color: white;
  //    }
  //
  //    }
  a {
    text-transform: uppercase;
    font-size: 14px;
    padding: .5rem;
    line-height: 1;
    display: inline-block;
    &:before {
      content: none !important;
    }
    // (768px)
    @include media-breakpoint-down(sm) {
      display: none;
    }
    // (768px)
    @include media-breakpoint-down(xs) {
      display: block;
    }
    @include media-breakpoint-down(sm) {
      padding: 1rem .5rem;
      i {
        margin-right: .5rem;
      }
    }
  }
}
.menu-item-has-children > a {
  padding-bottom: .25rem;
  // (768px)
  @include media-breakpoint-down(md) {
    pointer-events: all;
  }
}
//Search
.searchwp-live-search-results {
  background: none;
  box-shadow: none;
  border-radius: 0;
  width: 50vw !important;
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%);
  max-height: 70vh !important;
  height: 70vh !important;
  @include media-breakpoint-down(sm) {
    width: 90% !important;
  }
  .search & {
    display: none;
  }
  .searchwp-live-search-result {
    //            border-radius: 10px;
    margin-bottom: .5rem;
    transition: .3s ease;
    p {
      border: none;
      padding: 0;
      @include media-breakpoint-down(sm) {
        white-space: normal;
      }
      a {
        color: white;
        font-weight: 700;
        padding: 1rem;
        //                         word-break: break-all;
        white-space: normal;
        @include media-breakpoint-down(sm) {
          padding: 1rem 0;
        }
      }
    }
    &.active {
      background: white;
      a {
        color: $dark-teal;
      }
    }
  }
}
.searchwp-live-search-result:hover {
  background: white;
  a {
    color: $dark-teal !important;
  }
}
.menu-item-has-children.menu-item-type-custom > a {
  pointer-events: none;
}
@include media-breakpoint-down(lg) {
  ul#menu-primary-menu-1 li {
    max-width: 100%;
    width: 50%;
    @media(max-height: 768px) and (orientation: landscape) {
      max-width: 20%;
      width: 25%;
      ul {
        li {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
  ul#menu-primary-menu-1 {
    column-count: 2;
    @media(max-height: 768px) and (orientation: landscape) {
      column-count: 1;
    }
  }
}
@include media-breakpoint-down(md) {
  ul#menu-primary-menu-1 li {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 1440px) {
  #nav-search input {
    //        margin-bottom: 2rem;
  }
  .nav-drawer a {
    font-size: 1rem;
  }
  ul#menu-primary-menu-1 ul li a {
    font-size: .8rem;
  }
}
//Media queries
@include media-breakpoint-down(md) {
  ul#menu-primary-menu-1 ul li a {
    font-size: 1rem;
    padding: .25rem 0;
    display: block;
  }
  #header {
    width: 100%;
    height: auto;
  }
  .menu-toggle {
    transform: none;
    float: right;
    font-size: .8rem;
    margin-top: 17px;
    display: inline-block;
    padding: 0;
    display: none;
  }
  .c-hamburger {
    float: right;
    transform: none;
    margin-top: 0;
    margin-top: .25rem;
  }
  .nav-drawer {
    display: block;
    width: 100%;
    transform: translate3d(100%, 0, 0);
    padding: 1rem;
    padding-top: 80px;
  }
  //    .mobile-menu {
  //        display: block;
  //    }
  //    .primary-menu {
  //        display: none;
  //    }
  //    .primary-menu-2 {
  //        display: none;
  //    }
  .nav-social {
    display: none;
  }
  .primary-branding {
    width: 20px;
    display: inline;
    margin: .5rem 1rem;
    //        margin-left: 2%;
    //        margin-top: 5px;
    //        margin-bottom: 5px;
    @media(max-height: 768px) and (orientation: landscape) {
      margin-top: 10px;
      width: 30px;
    }
  }
  .nav-drawer {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: rgba(48, 100, 112, 0.95);
    .bg {
      display: none
    }
  }
  .nav-drawer-in {
    > li {
      &:nth-child(1) {
        transition-delay: .25s;
      }
      &:nth-child(2) {
        transition-delay: .5s;
      }
      &:nth-child(3) {
        transition-delay: .75s;
      }
      &:nth-child(4) {
        transition-delay: 1s;
      }
      &:nth-child(5) {
        transition-delay: 1.25s;
      }
      &:nth-child(6) {
        transition-delay: 1.5s;
      }
    }
  }
  ul#menu-primary-menu-1 {
    column-count: 1;
    li {
      width: 100%;
      transform: translate3d(0, 15px, 0);
      ul {
        display: none;
        .sub-menu {
          display: block;
        }
      }
    }
  }
  .account {
    padding: 1rem 0;
  }
  #nav-search .nav-list.list {
    width: 100%;
    position: relative;
    display: none;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    //height: auto;
  }
  #nav-search .nav-list.list.show {
    display: block;
  }
  .nav-drawer a {
    font-size: 10px;
    // (768px)
    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }
  }
}
@include media-breakpoint-down(md) {
  header {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .orientation_landscape {
    header {
      position: relative;
    }
  }
  .nav-drawer-in ul#menu-primary-menu-1 li {
    transform: translate3d(0, 0, 0);
  }
}
.search-clear {
  position: absolute !important;
  opacity: 1 !important;
  pointer-events: all !important;
  font-family: fontawesome;
  top: 0;
  right: 0;
  padding: 0 !important;
}
.search-clear:after {
  content: '' !important;
  background: none;
  font-family: fontawesome;
  font-size: 10px;
  width: auto;
  height: auto;
  right: 0;
  left: auto;
  top: 7px;
}
.search-results .search-clear {
  display: none;
}
.search-input input {
  font-family: fontawesome, 'Open Sans' !important;
}
.header-btn {
  display: block;
  padding: 1rem;
  color: white;
  font-size: 8px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  // (768px)
  @media(max-height: 768px) and (orientation: landscape) {
    padding: .75rem 1rem;
    font-size: 6px;
  }
  &:hover {
    color: $green;
  }
  i {
    display: block;
    font-size: 20px;
    margin-bottom: .5rem;
  }
  // (768px)
  @include media-breakpoint-down(md) {
    //display: none;
    display: inline-block;
    padding: 0 1rem 0;
    top: .5rem;
    position: relative;
    &.account {
      i {
        margin-bottom: 0;
      }
    }
    i {
      //            &[class="fa fa-line-chart"] {
      margin-bottom: .3rem;
      //            }
    }
  }
  // (768px)
  @include media-breakpoint-down(xs) {
    display: none;
  }
}
.english,
.spanish {
  cursor: pointer;
  a {
    &:before {
      content: "\f0ac";
      font-family: 'fontawesome';
      display: block;
      //      color: white;
      text-align: center;
      font-size: 20px;
      font-weight: normal;
      pointer-events: none;
    }
    &:hover {
      &:before {}
    }
  }
  i {
    pointer-events: none;
  }
}
//.english {
//  display: none;
//}
//.translated-ltr {
//  .spanish {
//    display: none;
//  }
//  .english {
//    display: block;
//  }
//}
.language {
  position: relative;
  #google_language_translator {
    opacity: 0;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    select.goog-te-combo {
      padding: 1rem !important;
      margin: 0 1rem;
      appearance: none;
      border: none;
      border-radius: 4px !important;
      background: #ecf4f5;
      font-family: "Open Sans";
      background-image: url(../../dist/img/down.svg);
      background-size: 50px;
      background-position: 100% 50%;
      background-repeat: no-repeat;
      width: auto;
      padding-right: 2.5rem !important;
    }
  }
  &.toggled {
    #google_language_translator {
      opacity: 1;
    }
  }
}
