.photo-slider__item {
    img {
        width: 100%;
        height: 35vh;
        object-fit: cover;
        //        margin-bottom: 3rem;
        box-shadow: $shadow-1;
    }
    p {
        padding: 1rem;
        //            margin-bottom: 5rem;
        font-family: $serif;
        font-style: italic;
        font-size: 1.25rem;
        text-transform: capitalize;
    }
    &.slick-slide {
        padding: 1rem;
        transform: scale(.8);
        transition: transform .5s ease;
        z-index: 1;
    }
    &.slick-slide.slick-current.slick-active.slick-center {
        transform: scale(1);
    }
}
.bio-box {
    img {
        width: 100%;
    }
    &.slick-slide {
        transform: scale(.8);
        transform-origin: 50% 50%;
        transition: transform .5s ease;
        z-index: 1;
        opacity: .25;
        background: #fff;
        box-shadow: $shadow-1;
    }
    &.slick-slide.slick-center {
        transform: scale(1);
        opacity: 1;
    }
}
.bio-box {
    width: 75%;
}
.slick-arrow {
    color: red !important;
}
.leadership-loop {
    overflow: hidden;
    .slick-slider {
        overflow: visible;
    }
    .slick-prev:before,
    .slick-next:before {
        font-size: 50px;
        color: #428d9e;
    }
    .slick-prev,
    .slick-next {
        top: 45%;
        height: 50px;
        width: 50px;
    }
    .slick-next {
        right: 0;
    }
    .slick-prev {
        z-index: 10;
    }
}
html:not(.ie) {

    body:not(.home) {
        .slick-track {
            display: flex;
            .slick-slide {
                display: flex;
                height: 100%;
                align-items: center; //optional
                justify-content: center; //optional
                flex-direction: column;
            }
        }


    }

}
//Media
.gallery-item {
    outline: none;
    &.image {
        img {
            width: 100%;
            height: auto;
            //            object-fit: cover;
            /* padding-bottom: 1rem; */
            display: block;
            box-shadow: $shadow-1;
        }
        p {
            padding: 1rem;
            //            margin-bottom: 5rem;
            font-family: $serif;
            font-style: italic;
            font-size: .8rem;
            text-align: center;
        }
    }
}
.gallery-item {
    outline: none;
    &.video {
        &:before {
            position: absolute;
            content: '';
            height: 190px;
            width: auto;
            background-image: url(../../dist/img/play.svg);
            background-color: rgba(0, 0, 0, 0.25);
            background-size: 25%;
            background-repeat: no-repeat;
            background-position: 50%;
            pointer-events: none;
            top: 0;
            left: 1rem;
            right: 1rem;
            // (768px)
            @include media-breakpoint-down(md) {
                height: 110px;
            }
            // (768px)
            @include media-breakpoint-down(sm) {
                height: 190px;
            }
        }
        img {
            width: 100%;
            height: 190px;
            object-fit: cover;
            /* padding-bottom: 1rem; */
            display: block;
            box-shadow: $shadow-1;
            // (768px)
            @include media-breakpoint-down(md) {
                height: 110px;
            }
            // (768px)
            @include media-breakpoint-down(sm) {
                height: 190px;
            }
        }
        p {
            padding: 1rem;
            //            margin-bottom: 5rem;
            font-family: $serif;
            font-style: italic;
            font-size: .8rem;
            text-align: center;
        }
    }
}
.video-slider {
    .slick-slide {
        position: relative;
        overflow: hidden;
        &:before {
            position: absolute;
            content: '';
            height: 100%;
            max-height: 15vw;
            width: auto;
            background-image: url(../../dist/img/play.svg);
            background-color: rgba(0, 0, 0, 0.25);
            background-size: 100px;
            background-repeat: no-repeat;
            background-position: 50%;
            pointer-events: none;
            top: 1rem;
            left: 1rem;
            right: 1rem;
            // (768px)
            @include media-breakpoint-down(sm) {
                max-height: 53vw;
                height: 53vw;
            }
        }
        img {
            height: 15vw;
            max-height: 15vw;
            // (768px)
            @include media-breakpoint-down(sm) {
                height: 53vw;
                max-height: 53vw;
            }
        }
        .btn {
            display: block;
        }
        p {
            margin-bottom: 0;
        }
    }
}
.media-cat {
    .cat-item-20,
    .cat-item-21,
    .cat-item-22,
    .cat-item-23 {
        display: none;
    }
}
.directory {
    //    white-space: nowrap;
    //    overflow-x: auto;
    //    -webkit-overflow-scrolling: touch;
    //    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-bottom: 2rem;
    ul {
        padding: 0;
        margin-bottom: 1rem;
        width: 100%;
        column-count: 3;
        li {
            display: inline-block;
            width: 100%;
            //            margin-right: 1rem;
            margin-bottom: .5rem;
        }
    }
}
.photo-slider {
    .slick-next {
        right: 100px;
        z-index: 1;
        bottom: 0;
        top: auto;
        &:before {
            color: $teal;
        }
    }
    .slick-prev {
        left: 100px;
        z-index: 1;
        bottom: 0;
        top: auto;
        &:before {
            color: $teal;
        }
    }
}
